<div *ngIf="firebase.anonUser()" class="mat-body-2" fxFlex="100" fxLayoutFill fxLayout="row" fxLayoutAlign="center center">
  You must me authenticated to access admin controls
</div>
<div *ngIf="!firebase.privilegedAccess()" class="mat-body-2" fxFlex="100" fxLayoutFill fxLayout="row" fxLayoutAlign="center center">
  You must have privileged access rights to access admin controls
</div>

<div *ngIf="!firebase.anonUser() && firebase.privilegedAccess()" fxFlex="100" fxLayoutFill fxLayout="row" [ngStyle]="{ padding: '0 10px 0 10px' }">

  <div fxLayout="row wrap" fxLayoutFill fxLayoutAlign="start start" *ngIf="!details.preview.submission">
    <span fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center" class="md-padding">
      <div class="mat-body-2">some general data here</div>
    </span>

    <mat-tab-group fxFlex="100">
      <mat-tab label="email submissions">
        <mat-tab-body fxLayout="row">
          <div fxFlex fxLayoutFill fxLayout="row wrap" fxLayoutAlign="start stretch" *ngIf="!noEmailBlogSubmissions()">

            <div *ngFor="let key of details.emails.blogSubmissionsKeys; let i = index" fxFlex.xs="100" fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngStyle]="{ padding: '0 10px 0 10px' }">
              <span fxFlex class="mat-body-2">
                {{i}}. From: {{ details.emails.blogSubmissions[key].email }}
              </span>
              <span fxFlex="100" class="mat-body-1">
                <p>Link:
                  <a fxHide fxShow.xs fxShow.sm href="{{ details.emails.blogSubmissions[key].link }}" target=_blank>
                    <mat-icon fontSet="fas" fontIcon="fa-external-link-alt" class="material-icons-fas"></mat-icon>
                  </a>
                  <a fxHide fxShow.gt-sm href="{{ details.emails.blogSubmissions[key].link }}" target=_blank>
                    {{ details.emails.blogSubmissions[key].link }}
                  </a>
                </p>
                <p>Sent from domain: {{ details.emails.blogSubmissions[key].domain }}</p>
              </span>
              <span fxFlex="100" class="mat-body-1" *ngIf="details.selected.brand.key">
                <p>Selected label links:</p>
                <span *ngFor="let key of details.selected.brand.object | mapToIterable" fxLayout="row wrap" fxLayoutGap="10px">
                  <span fxFlex>
                    {{key}}:
                    <a *ngIf="getSelectedBrand()[key]" href="{{getSelectedBrand()[key]}}" target=_blank>
                      <mat-icon fontSet="fas" fontIcon="fa-external-link-alt" class="material-icons-fas"></mat-icon>
                    </a>
                    <mat-icon *ngIf="details.selected.brand.object[key] === ''" fontSet="fas" fontIcon="fa-external-link-alt" class="material-icons-fas" title="empty link field"></mat-icon>
                  </span>
                </span>
              </span>
              <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                <form fxFlex="100">
                  <mat-form-field fxFlex [ngStyle]="{ width: '100%' }">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="brandAutocompleteControl" [matAutocomplete]="brandAuto">
                    <mat-autocomplete #brandAuto="matAutocomplete" (optionSelected)="selectBrandFromList($event)">
                      <mat-option *ngFor="let option of getMatchedBrands()" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
                <button mat-icon-button *ngIf="true" (click)="deleteEmailBlogSubmission(i)" aria-label="delete submission" title="delete submission">
                  <mat-icon fontSet="fas" fontIcon="fa-trash" class="material-icons-fas"></mat-icon>
                </button>
                <button mat-icon-button class="md-icon-button" *ngIf="true" (click)="showSubmissionPreview(i)" aria-label="preview submission" title="preview submission">
                  <mat-icon fontSet="fas" fontIcon="fa-th-large" class="material-icons-fas"></mat-icon>
                </button>
                <button mat-icon-button class="md-icon-button green-text" [disabled]="submissionAlreadyAdded(i)" *ngIf="getSelectedBrand()" (click)="approveEmailSubmission(i)" [attr.aria-label]="submissionAlreadyAdded(i) ? 'this playlist was already added' : 'approve email submission'" [attr.title]="submissionAlreadyAdded(i) ? 'this playlist was already added' : 'approve email submission'">
                  <mat-icon fontSet="fas" fontIcon="fa-check" class="material-icons-fas" *ngIf="!submissionAlreadyAdded(i)"></mat-icon>
                  <mat-icon fontSet="fas" fontIcon="fa-ban" class="material-icons-fas" *ngIf="submissionAlreadyAdded(i)"></mat-icon>
                </button>
              </span>
              <span class="list-end" *ngIf="details.emails.blogSubmissionsKeys.length === i">
              </span>
            </div>

          </div>
          <div fxFlex fxLayoutFill fxLayout="row" fxLayoutAlign="center start" *ngIf="noEmailBlogSubmissions()">
            The're are no email blog submissions.
          </div>
        </mat-tab-body>
      </mat-tab>

      <mat-tab label="email messages">
        <mat-tab-body fxLayout="row">
          <div fxFlex fxLayoutFill fxLayout="row wrap" fxLayoutAlign="start stretch" *ngIf="!noEmailMessages()">
            <div *ngFor="let key of details.emails.messagesKeys; let i = index" fxFlex.xs="100" fxFlex="33" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngStyle]="{ padding: '0 10px 0 10px' }">
              <span fxFlex="100" class="mat-body-2">
                {{i}}. {{ details.emails.messages[key].header }}
              </span>
              <span fxFlex="100" class="mat-body-1" fxLayout="row wrap">
                <p fxFlex="100">From: {{ details.emails.messages[key].name }} < {{ details.emails.messages[key].email }} ></p>
                <p fxFlex="100">Sent from domain: {{ details.emails.messages[key].domain }}</p>
              </span>
              <span fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
                <button mat-icon-button (click)="deleteMessage(i)" aria-label="delete message" title="delete message">
                  <mat-icon fontSet="fas" fontIcon="fa-trash" class="material-icons-fas"></mat-icon>
                </button>
                <button mat-icon-button (click)="showMessageText(details.emails.messages[key])" aria-label="show message text" title="show message text">
                  <mat-icon fontSet="fas" fontIcon="fa-envelope-open" class="material-icons-fas"></mat-icon>
                </button>
              </span>
            </div>
          </div>
          <div fxFlex fxLayoutFill fxLayout="row" fxLayoutAlign="center start" *ngIf="noEmailMessages()">
            The're are no email messags.
          </div>
        </mat-tab-body>
      </mat-tab>

      <mat-tab label="brands">
        <mat-tab-body fxLayout="row wrap">
          <div *ngIf="details.create.brand" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button fxFlex="100" type="button" (click)="createBrand()" aria-label="add a new brand" title="add a new brand">
              <mat-icon fontSet="fas" fontIcon="fa-plus" class="material-icons-fas"></mat-icon>
            </button>
          </div>

          <div fxFlex fxLayoutFill fxLayout="row wrap" fxLayoutAlign="space-between start" *ngIf="!noBrands() && !details.create.brand">
            <div *ngFor="let key of details.brandsKeys; let i = index" fxFlex.xs="100" [fxFlex]="isBrandCurrentlyEditable(key) ? '100' : 32" fxLayout="row">
              <div fxFlex fxLayoutFill *ngIf="(details.edit.brand.key && isBrandCurrentlyEditable(key)) || !details.edit.brand.key" fxLayout="row wrap" [ngStyle]="{ margin: '2px', padding: '0 10px 0 10px', 'border-radius': '3px', border: '1px dotted #000000' }">

                <span fxFlex="100" class="mat-body-2" fxLayout="row" fxLayoutAlign="center center">
                    {{i}}. {{ key }}
                </span>
                <span fxFlex="100" class="mat-body-1">
                  <div fxFlex fxLayout="row wrap" *ngIf="!isBrandCurrentlyEditable(key)">
                    <a mat-button href="{{ details.brands[key].bandcamp }}" target=_blank *ngIf="details.brands[key].bandcamp">
                      Bandcamp
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].facebook }}" target=_blank *ngIf="details.brands[key].facebook">
                      Facebook
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].instagram }}" target=_blank *ngIf="details.brands[key].instagram">
                      Instagram
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].soundcloud }}" target=_blank *ngIf="details.brands[key].soundcloud">
                      Soundcloud
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].twitter }}" target=_blank *ngIf="details.brands[key].twitter">
                      Twitter
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].website }}" target=_blank *ngIf="details.brands[key].website">
                      Website
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                    <a mat-button href="{{ details.brands[key].youtube }}" target=_blank *ngIf="details.brands[key].youtube">
                      Youtube
                      <mat-icon class="material-icons">open_in_new</mat-icon>
                    </a>
                  </div>

                  <span fxFlex="100" fxLayout="row wrap">
                    <button mat-icon-button type="button" *ngIf="!isBrandCurrentlyEditable(key)" (click)="editBrand(i)" aria-label="edit brand links" title="edit brand links">
                      <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    <button mat-icon-button type="button" *ngIf="isBrandCurrentlyEditable(key)" (click)="editBrand(i)" aria-label="cancel editing" title="cancel editing">
                      <mat-icon class="material-icons">cancel</mat-icon>
                    </button>
                    <button mat-icon-button type="submit" *ngIf="isBrandCurrentlyEditable(key)" aria-label="update brand" title="update brand" [disabled]="editBrandForm.pristine">
                      <mat-icon class="material-icons">check</mat-icon>
                    </button>
                    <button mat-icon-button type="button" *ngIf="isBrandCurrentlyEditable(key)" (click)="deleteBrand(i)" aria-label="delete brand" title="delete brand">
                      <mat-icon class="material-icons">delete_forever</mat-icon>
                    </button>
                  </span>
                </span>
              </div>
            </div>

            <form fxFlex="100" fxLayout="row wrap" *ngIf="editBrandForm" [formGroup]="editBrandForm" (ngSubmit)="submitBrandForm()">
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="bandcamp" [formControl]="editBrandForm.controls.bandcamp" placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com">
                <mat-error *ngIf="editBrandForm.controls.bandcamp.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="facebook" [formControl]="editBrandForm.controls.facebook" placeholder="Facebook page link, e.g.: https://www.facebook.com/some-name">
                <mat-error *ngIf="editBrandForm.controls.facebook.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="instagram" [formControl]="editBrandForm.controls.instagram" placeholder="Instagram page link, e.g.: https://www.facebook.com/some-name">
                <mat-error *ngIf="editBrandForm.controls.instagram.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="soundcloud" [formControl]="editBrandForm.controls.soundcloud" placeholder="Soundcloud page link, e.g.: https://www.soundcloud.com/some-name">
                <mat-error *ngIf="editBrandForm.controls.soundcloud.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="twitter" [formControl]="editBrandForm.controls.twitter" placeholder="Twitter page link, e.g.: https://twitter.com/some-name">
                <mat-error *ngIf="editBrandForm.controls.twitter.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="website" [formControl]="editBrandForm.controls.website" placeholder="Website link, e.g.: https://website.tld">
                <mat-error *ngIf="editBrandForm.controls.website.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput type="text" name="youtube" [formControl]="editBrandForm.controls.youtube" placeholder="Youtube link, e.g.: https://www.youtube.com/c_or_users/channelName">
                <mat-error *ngIf="editBrandForm.controls.youtube.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex fxLayoutFill fxLayout="row" fxLayoutAlign="center start" *ngIf="noBrands() && !details.create.brand">
            The're are no brands yet, create one.
          </div>
        </mat-tab-body>
      </mat-tab>
    </mat-tab-group>
    <!--
      <mat-tabs fxFlex="90" md-border-bottom md-swipe-content fxLayout="column">

        <mat-tab fxFlex fxLayout="column">
          <mat-tab-label>brands</mat-tab-label>
          <mat-tab-body fxFlex fxLayout="column" class="md-padding">
            <div fxFlex fxLayout="row wrap" fxLayoutAlign="start stretch">
              <div *ngIf="!newBrandCreateMode" fxFlex-xs="100" fxFlex-sm="50" fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
                <mat-button class="md-icon-button" type="button" (click)="createBrand()" aria-label="add a new brand" title="add a new brand">
                  <i class="fa fa-2x fa-plus green-text"></i>
                </mat-button>
              </div>
              <div class="mat-body-1" *ngIf="newBrandCreateMode" fxFlex-xs="100" fxFlex-sm="50" fxFlex="33" fxLayout="column" fxLayoutAlign="center stretch">
                <form fxFlex name="newBrandForm" accept-charset="UTF-8" fxLayout="column" align-items="start stretch" *ngIf="isBrandCurrentlyEditable(key)" ng-cloak>
                  <mat-form-field>
                    <input type="text" name="name" ng-model="newBrand.name" ng-pattern="patterns.name" placeholder="Brand name without spaces in CamelCase" required>
                    <div ng-messages="newBrandForm.name.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value: 2+ English letters, digits</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="bandcamp" ng-model="newBrand.bandcamp" ng-pattern="patterns.links.bandcamp" placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com" required>
                    <div ng-messages="newBrandForm.bandcamp.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://some-name.bandcamp.com</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="facebook" ng-model="newBrand.facebook" ng-pattern="patterns.links.facebook" placeholder="Facebook profile link, e.g.: https://www.facebook.com/some-name" required>
                    <div ng-messages="newBrandForm.facebook.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://www.facebook.com/some-name</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="instagram" ng-model="newBrand.instagram" ng-pattern="patterns.links.instagram" placeholder="Instagram profile link, e.g.: https://www.instagram.com/some-name" required>
                    <div ng-messages="newBrandForm.instagram.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://www.instagram.com/some-name</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="soundcloud" ng-model="newBrand.soundcloud" ng-pattern="patterns.links.soundcloud" placeholder="Soundcloud profile link, e.g.: https://www.soundcloud.com/some-name" required>
                    <div ng-messages="newBrandForm.soundcloud.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://www.soundcloud.com/some-name</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="twitter" ng-model="newBrand.twitter" ng-pattern="patterns.links.twitter" placeholder="Twitter profile link, e.g.: https://twitter.com/some-name" required>
                    <div ng-messages="newBrandForm.twitter.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://twitter.com/some-name</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="website" ng-model="newBrand.website" ng-pattern="patterns.links.website" placeholder="Brand's website link, e.g.: https://domain-name.top-level-domain" required>
                    <div ng-messages="newBrandForm.website.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://domain-name.top-level-domain</div>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" name="youtube" ng-model="newBrand.youtube" ng-pattern="patterns.links.youtube" placeholder="Youtube channel or user link, e.g.: https://www.youtube.com/c_or_users/channelName" required>
                    <div ng-messages="newBrandForm.youtube.$error">
                      <div ng-message="required">This field is required</div>
                      <div ng-message="pattern">Invalid value, example link: https://www.youtube.com/c_or_users/channelName</div>
                    </div>
                  </mat-form-field>
                  <span fxFlex *ngIf="newBrandCreateMode" fxLayout="row wrap" fxLayoutAlign="start center">
                    <mat-button class="md-icon-button" type="button" (click)="createBrand()" aria-label="cancel brand creation" title="cancel brand creation">
                      <i class="fa fa-2x fa-times"></i>
                    </mat-button>
                    <mat-button class="md-icon-button green-text" (click)="submitNewBrand()" aria-label="submit a new brand" title="submit a new brand">
                      <i class="fa fa-2x fa-check"></i>
                    </mat-button>
                  </span>
                </form>
              </div>

              <div ng-repeat="key in brandsKeys" fxFlex-xs="100" fxFlex-sm="50" fxFlex="33" fxLayout="column" fxLayoutAlign="center stretch">
                <span fxFlex="1" class="mat-body-2" fxLayout="row" fxLayoutAlign="center center">
                  {{$index}}. {{ key }}
                </span>
                <span fxFlex="2" class="mat-body-1">
                  <div fxFlex *ngIf="!isBrandCurrentlyEditable(key)">
                    <p fxFlex="100">Bandcamp <a href="{{ brands[key].bandcamp }}" target=_blank *ngIf="brands[key].bandcamp">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Facebook <a href="{{ brands[key].facebook }}" target=_blank *ngIf="brands[key].facebook">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Instagram <a href="{{ brands[key].instagram }}" target=_blank *ngIf="brands[key].instagram">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Soundcloud <a href="{{ brands[key].soundcloud }}" target=_blank *ngIf="brands[key].soundcloud">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Twitter <a href="{{ brands[key].twitter }}" target=_blank *ngIf="brands[key].twitter">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Website <a href="{{ brands[key].website }}" target=_blank *ngIf="brands[key].website">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                    <p fxFlex="100">Youtube <a href="{{ brands[key].youtube }}" target=_blank *ngIf="brands[key].youtube">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                  </div>
                  <form fxFlex name="editBrandForm" accept-charset="UTF-8" fxLayout="column" align-items="start stretch" *ngIf="isBrandCurrentlyEditable(key)" ng-cloak>
                    <mat-form-field>
                      <input type="text" name="bandcamp" ng-model="brands[key].bandcamp" ng-pattern="patterns.links.bandcamp" placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com" required>
                      <div ng-messages="editBrandForm.bandcamp.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://some-name.bandcamp.com</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="facebook" ng-model="brands[key].facebook" ng-pattern="patterns.links.facebook" placeholder="Facebook profile link, e.g.: https://www.facebook.com/some-name" required>
                      <div ng-messages="editBrandForm.facebook.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://www.facebook.com/some-name</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="instagram" ng-model="brands[key].instagram" ng-pattern="patterns.links.instagram" placeholder="Instagram profile link, e.g.: https://www.instagram.com/some-name" required>
                      <div ng-messages="editBrandForm.instagram.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://www.instagram.com/some-name</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="soundcloud" ng-model="brands[key].soundcloud" ng-pattern="patterns.links.soundcloud" placeholder="Soundcloud profile link, e.g.: https://www.soundcloud.com/some-name" required>
                      <div ng-messages="editBrandForm.soundcloud.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://www.soundcloud.com/some-name</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="twitter" ng-model="brands[key].twitter" ng-pattern="patterns.links.twitter" placeholder="Twitter profile link, e.g.: https://twitter.com/some-name" required>
                      <div ng-messages="editBrandForm.twitter.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://twitter.com/some-name</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="website" ng-model="brands[key].website" ng-pattern="patterns.links.website" placeholder="Brand's website link, e.g.: https://domain-name.top-level-domain" required>
                      <div ng-messages="editBrandForm.website.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://domain-name.top-level-domain</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="text" name="youtube" ng-model="brands[key].youtube" ng-pattern="patterns.links.youtube" placeholder="Youtube channel or user link, e.g.: https://www.youtube.com/c_or_users/channelName" required>
                      <div ng-messages="editBrandForm.youtube.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Invalid value, example link: https://www.youtube.com/c_or_users/channelName</div>
                      </div>
                    </mat-form-field>
                  </form>
                  <span fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
                    <mat-button class="md-icon-button" type="button" *ngIf="!isBrandCurrentlyEditable(key)" (click)="editBrand($index)" aria-label="edit brand links" title="edit brand links">
                      <i class="fa fa-2x fa-pencil"></i>
                    </mat-button>
                    <mat-button class="md-icon-button" type="button" *ngIf="isBrandCurrentlyEditable(key)" (click)="editBrand($index)" aria-label="cancel editing" title="cancel editing">
                      <i class="fa fa-2x fa-times"></i>
                    </mat-button>
                    <mat-button class="md-icon-button green-text" *ngIf="isBrandCurrentlyEditable(key)" (click)="updateBrand()" aria-label="update brand" title="update brand">
                      <i class="fa fa-2x fa-check"></i>
                    </mat-button>
                    <mat-button class="md-icon-button amber-text" type="button" *ngIf="isBrandCurrentlyEditable(key)" (click)="deleteBrand($index)" aria-label="delete brand" title="delete brand">
                      <i class="fa fa-2x fa-trash"></i>
                    </mat-button>
                  </span>
                </span>
              </div>
            </div>
          </mat-tab-body>
        </mat-tab>

        <mat-tab fxFlex fxLayout="column">
          <mat-tab-label>users</mat-tab-label>
          <mat-tab-body fxFlex fxLayout="column" class="md-padding">
            <div fxFlex fxLayout="row wrap" fxLayoutAlign="start stretch">
              <div ng-repeat="userKey in usersKeys" fxFlex-xs="100" fxFlex-sm="50" fxFlex="33" fxLayout="column" fxLayoutAlign="center stretch">
                <span fxFlex="1" class="mat-body-2" fxLayout="row" fxLayoutAlign="center center">
                  {{$index}}. {{ userKey }}
                </span>
                <span fxFlex="2" class="mat-body-1">
                  <div fxFlex>
                    <p fxFlex="100" *ngIf="users[userKey].created">Created {{ users[userKey].created | date }}</p>
                    <p fxFlex="100" *ngIf="users[userKey].sc_id">Soundcloud ID {{ users[userKey].sc_id }}</p>
                    <p fxFlex="100" *ngIf="users[userKey].submittedPlaylists">Submitted Playlists
                      <div fxLayout="row wrap">
                        <div fxFlex="50" fxFlex.xs="100" fxFlex-sm="100" fxFlex-md="100" ng-repeat="(playlistId, submitted) in users[userKey].submittedPlaylists">
                          <span fxLayout="row wrap">
                            <p>id: <strong>{{playlistId}}</strong></p>
                            <mat-button class="md-icon-button green-text" [disabled]="submissionAlreadyAdded($index) || loading" *ngIf="!submitted && selectedBrandId >= 0" (click)="approvePost(playlistId)" aria-label="approve post" title="approve post">
                              <i class="fa fa-2x fa-check"></i>
                            </mat-button>
                            <mat-button class="md-icon-button green-text" [disabled]="submissionAlreadyAdded($index) || loading" *ngIf="!selectedBrandId && selectedBrandId !== 0" (click)="selectBrand(0)" aria-label="select a brand to approve an email submission" title="select a brand to approve an email submission">
                              <i class="fa fa-2x fa-address-book"></i>
                            </mat-button>
                            <mat-button class="md-icon-button amber-text" type="button" *ngIf="!submitted" (click)="rejectPost(playlistId)" aria-label="reject post" title="reject post">
                              <i class="fa fa-2x fa-trash"></i>
                            </mat-button>
                            <mat-autocomplete fxFlex="100" md-no-cache="true" md-selected-item="selectedBrandKey" md-items="brand in getMatchedBrands(searchBrands)" md-search-text="searchBrands" md-item-text="brand" md-clear-button="true" md-selected-item-change="selectBrandFromList(brand)" placeholder="select brand" *ngIf="selectedBrandId >= 0">
                              <span>{{brand}}</span>
                            </mat-autocomplete>
                          </span>
                          <span fxFlex class="mat-body-1" *ngIf="selectedBrandId >= 0">
                            <p>Selected label links:</p>
                            <span ng-repeat="(key, value) in getSelectedBrand()">
                              {{key}}: <a *ngIf="value !== ''" href="{{value}}" target=_blank><i class="fa fa-1x fa-external-link"></i></a>
                              <i *ngIf="value === ''" class="fa fa-1x fa-external-link" title="empty link field"></i>,
                            </span>
                          </span>
                          <iframe width="97%" height="350" scrolling="no" frameborder="no" ng-src="{{widgetLink(playlistId)}}" *ngIf="widgetLink(playlistId) !== '#'"></iframe>
                        </div>
                      </div>
                    </p>
                  </div>
                </span>
              </div>
            </div>
          </mat-tab-body>
        </mat-tab>

      </mat-tabs>
    -->
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutFill *ngIf="details.preview.submission">

      <div fxFlex="100" fxLayoutFill fxLayout="column" fxLayoutAlign="start stretch">
        <button mat-button (click)="hideSubmissionPreview()">close preview</button>
        <div fxFlex="15" fxFlex-xs="30" class="heading" fxLayout="row wrap" fxLayoutAlign="start center">
          <h4 fxFlex fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button color="accent" fxFlex="20" disabled="true" aria-label="previous blog post" title="previous blog post">
              <mat-icon fontSet="fas" fontIcon="fa-chevron-left" class="material-icons-fas"></mat-icon>
            </button>
            <span fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center">
              <span fxFlex="100">{{details.preview.submission.title}}</span>
            </span>
            <button mat-button color="accent" fxFlex="20" disabled="true" aria-label="next blog post" title="next blog post">
              <mat-icon fontSet="fas" fontIcon="fa-chevron-right" class="material-icons-fas"></mat-icon>
            </button>
          </h4>
        </div>
        <div fxFlex fxLayout="row wrap">
          <div fxFlex fxFlex.xs="100" fxFlex.sm="100" *ngIf="details.preview.submission">
            <iframe width="100%" height="350" scrolling="no" frameborder="no" [src]="soundcloudWidgetLink(details.preview.submission.id)" *ngIf="showSoundcloudWidgetLink(details.preview.submission.id)"></iframe>
          </div>
          <div fxFlex="50" fxFlex-xs="100" fxFlex-sm="100" id="text" *ngIf="details.preview.submission.description" [ngStyle]="{ padding: '0 10px 0 10px'}">
            <div ng-bind-html="details.preview.submission.description"></div>
            <p *ngIf="details.preview.submission.release_year && details.preview.submission.release_month && details.preview.submission.release_day">Release date: {{details.preview.submission.release_year}}.{{details.preview.submission.release_month}}.{{details.preview.submission.release_day}}</p>
          </div>
        </div>
      </div>

  </div>

</div>
