<div
  *ngIf="anonUser$ | async"
  class="mat-body-2"
  fxFlex="100"
  fxLayoutFill
  fxLayout="row"
  fxLayoutAlign="center center"
>
  You must me authenticated to access admin controls
</div>

<div
  *ngIf="!firebase.privilegedAccess()"
  class="mat-body-2"
  fxFlex="100"
  fxLayoutFill
  fxLayout="row"
  fxLayoutAlign="center center"
>
  You must have privileged access rights to access admin controls
</div>

<div
  *ngIf="!(anonUser$ | async) && firebase.privilegedAccess()"
  fxFlex="100"
  fxLayoutFill
  fxLayout="row"
  [ngStyle]="{ padding: '0 10px 0 10px' }"
>
  <div
    fxLayout="row wrap"
    fxFlex="100"
    fxLayoutFill
    fxLayoutAlign="start start"
    *ngIf="!details.preview.submission"
  >
    <span
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="start stretch"
      fxLayoutAlign.xs="center center"
      class="md-padding"
    >
      <div class="mat-body-2">
        some general data here
      </div>
    </span>

    <mat-tab-group fxFlex="100">
      <mat-tab label="email submissions">
        <mat-tab-body fxLayout="row">
          <div
            fxFlex
            fxLayoutFill
            fxLayout="row wrap"
            fxLayoutAlign="start stretch"
            *ngIf="!noEmailBlogSubmissions()"
          >
            <div
              *ngFor="let key of details.emails.blogSubmissionsKeys; let i = index"
              fxFlex.xs="100"
              fxFlex="49"
              fxLayout="row wrap"
              fxLayoutAlign="start stretch"
              [ngStyle]="{ padding: '0 10px 0 10px' }"
            >
              <span fxFlex class="mat-body-2">
                {{ i }}. From: {{ details.emails.blogSubmissions[key].email }}
              </span>

              <span fxFlex="100" class="mat-body-1">
                <p>
                  Link:
                  <a
                    fxHide
                    fxShow.xs
                    fxShow.sm
                    href="{{ details.emails.blogSubmissions[key].link }}"
                    target="_blank"
                  >
                    <mat-icon
                      fontSet="fas"
                      fontIcon="fa-external-link-alt"
                      class="material-icons-fas"
                    >
                    </mat-icon>
                  </a>

                  <a
                    fxHide
                    fxShow.gt-sm
                    href="{{ details.emails.blogSubmissions[key].link }}"
                    target="_blank"
                  >
                    {{ details.emails.blogSubmissions[key].link }}
                  </a>
                </p>
                <p>Sent from domain: {{ details.emails.blogSubmissions[key].domain }}</p>
              </span>

              <span
                fxFlex="100"
                class="mat-body-1"
                *ngIf="details.selected.brand.key"
                fxLayout="row wrap"
              >
                <p fxFlex="100">
                  Selected label links:
                </p>

                <span
                  *ngFor="let key of details.selected.brand.object | mapToIterable"
                  fxFlex="100"
                  fxLayout="row wrap"
                >
                  <a
                    *ngIf="details.selected.brand.object[key]"
                    href="{{ details.selected.brand.object[key] }}"
                    target="_blank"
                  >
                    {{ key }}
                    <mat-icon
                      fontSet="fas"
                      fontIcon="fa-external-link-alt"
                      class="material-icons-fas"
                    >
                    </mat-icon>
                  </a>

                  <span *ngIf="details.selected.brand.object[key] === ''">
                    {{ key }}
                    <mat-icon
                      fontSet="fas"
                      fontIcon="fa-external-link-alt"
                      class="material-icons-fas"
                      title="empty link field"
                    >
                    </mat-icon>
                  </span>
                </span>
              </span>

              <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                <form fxFlex="100">
                  <mat-form-field fxFlex [ngStyle]="{ width: '100%' }">
                    <input
                      matInput
                      type="text"
                      placeholder="Pick one"
                      aria-label="Number"
                      [formControl]="brandAutocompleteControl"
                      [matAutocomplete]="brandAuto"
                    />

                    <mat-autocomplete
                      #brandAuto="matAutocomplete"
                      (optionSelected)="selectBrandFromList($event)"
                    >
                      <mat-option *ngFor="let option of getMatchedBrands()" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

                <button
                  mat-icon-button
                  *ngIf="true"
                  (click)="deleteEmailBlogSubmission(i)"
                  aria-label="delete submission"
                  title="delete submission"
                >
                  <mat-icon fontSet="fas" fontIcon="fa-trash" class="material-icons-fas"></mat-icon>
                </button>
                <button
                  mat-icon-button
                  *ngIf="brandIsSelected('', true)"
                  (click)="showSubmissionPreview(i)"
                  aria-label="preview submission"
                  title="preview submission"
                >
                  <mat-icon
                    fontSet="fas"
                    fontIcon="fa-th-large"
                    class="material-icons-fas"
                  ></mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="submissionAlreadyAdded(i)"
                  *ngIf="brandIsSelected('', true)"
                  (click)="approveEmailSubmission(i)"
                  [attr.aria-label]="
                    submissionAlreadyAdded(i)
                      ? 'this playlist was already added'
                      : 'approve email submission'
                  "
                  [attr.title]="
                    submissionAlreadyAdded(i)
                      ? 'this playlist was already added'
                      : 'approve email submission'
                  "
                >
                  <mat-icon
                    fontSet="fas"
                    fontIcon="fa-check"
                    class="material-icons-fas"
                    *ngIf="!submissionAlreadyAdded(i)"
                  ></mat-icon>
                  <mat-icon
                    fontSet="fas"
                    fontIcon="fa-ban"
                    class="material-icons-fas"
                    *ngIf="submissionAlreadyAdded(i)"
                  ></mat-icon>
                </button>
              </span>
              <span class="list-end" *ngIf="details.emails.blogSubmissionsKeys.length === i">
              </span>
            </div>
          </div>
          <div
            fxFlex
            fxLayoutFill
            fxLayout="row"
            fxLayoutAlign="center start"
            *ngIf="noEmailBlogSubmissions()"
          >
            The're are no email blog submissions.
          </div>
        </mat-tab-body>
      </mat-tab>

      <mat-tab label="email messages">
        <mat-tab-body fxLayout="row">
          <div
            fxFlex
            fxLayoutFill
            fxLayout="row wrap"
            fxLayoutAlign="start stretch"
            *ngIf="!noEmailMessages()"
          >
            <div
              *ngFor="let key of details.emails.messagesKeys; let i = index"
              fxFlex.xs="100"
              fxFlex="33"
              fxLayout="row wrap"
              fxLayoutAlign="start stretch"
              [ngStyle]="{ padding: '0 10px 0 10px' }"
            >
              <span fxFlex="100" class="mat-body-2">
                {{ i }}. {{ details.emails.messages[key].header }}
              </span>
              <span fxFlex="100" class="mat-body-1" fxLayout="row wrap">
                <p fxFlex="100">
                  From: {{ details.emails.messages[key].name }} <
                  {{ details.emails.messages[key].email }} >
                </p>
                <p fxFlex="100">Sent from domain: {{ details.emails.messages[key].domain }}</p>
              </span>
              <span fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
                <button
                  mat-icon-button
                  (click)="deleteMessage(i)"
                  aria-label="delete message"
                  title="delete message"
                >
                  <mat-icon fontSet="fas" fontIcon="fa-trash" class="material-icons-fas"></mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="showMessageText(details.emails.messages[key])"
                  aria-label="show message text"
                  title="show message text"
                >
                  <mat-icon
                    fontSet="fas"
                    fontIcon="fa-envelope-open"
                    class="material-icons-fas"
                  ></mat-icon>
                </button>
              </span>
            </div>
          </div>
          <div
            fxFlex
            fxLayoutFill
            fxLayout="row"
            fxLayoutAlign="center start"
            *ngIf="noEmailMessages()"
          >
            The're are no email messags.
          </div>
        </mat-tab-body>
      </mat-tab>

      <mat-tab label="brands">
        <mat-tab-body fxLayout="row wrap">
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <button
              mat-button
              fxFlex="100"
              type="button"
              (click)="createBrand()"
              aria-label="add a new brand"
              title="add a new brand"
            >
              <mat-icon fontSet="fas" fontIcon="fa-plus" class="material-icons-fas"></mat-icon>
            </button>
          </div>

          <div fxFlex="100" fxLayout="row" *ngIf="!noBrands()">
            <div
              *ngIf="!details.create.brand"
              fxFlex="100"
              fxLayout="row wrap"
              fxLayoutAlign="space-between start"
            >
              <div
                *ngFor="let key of details.brandsKeys; let i = index"
                fxFlex.xs="100"
                [fxFlex]="isBrandCurrentlyEditable(key) ? '100' : 32"
                fxLayout="row"
              >
                <div
                  fxFlex
                  fxLayoutFill
                  *ngIf="
                    (details.edit.brand.key && isBrandCurrentlyEditable(key)) ||
                    !details.edit.brand.key
                  "
                  fxLayout="row wrap"
                  [ngStyle]="{
                    margin: '2px',
                    padding: '0 10px 0 10px',
                    'border-radius': '3px',
                    border: '1px dotted #000000'
                  }"
                >
                  <span
                    fxFlex="100"
                    class="mat-body-2"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                  >
                    {{ i }}. {{ key }}
                  </span>
                  <span fxFlex="100" class="mat-body-1">
                    <div fxFlex fxLayout="row wrap" *ngIf="!isBrandCurrentlyEditable(key)">
                      <a
                        mat-button
                        href="{{ details.brands[key].bandcamp }}"
                        target="_blank"
                        *ngIf="details.brands[key].bandcamp"
                      >
                        Bandcamp
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].facebook }}"
                        target="_blank"
                        *ngIf="details.brands[key].facebook"
                      >
                        Facebook
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].instagram }}"
                        target="_blank"
                        *ngIf="details.brands[key].instagram"
                      >
                        Instagram
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].soundcloud }}"
                        target="_blank"
                        *ngIf="details.brands[key].soundcloud"
                      >
                        Soundcloud
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].twitter }}"
                        target="_blank"
                        *ngIf="details.brands[key].twitter"
                      >
                        Twitter
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].website }}"
                        target="_blank"
                        *ngIf="details.brands[key].website"
                      >
                        Website
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                      <a
                        mat-button
                        href="{{ details.brands[key].youtube }}"
                        target="_blank"
                        *ngIf="details.brands[key].youtube"
                      >
                        Youtube
                        <mat-icon class="material-icons">open_in_new</mat-icon>
                      </a>
                    </div>

                    <span fxFlex="100" fxLayout="row wrap">
                      <button
                        mat-icon-button
                        type="button"
                        *ngIf="!isBrandCurrentlyEditable(key)"
                        (click)="editBrand(i)"
                        aria-label="edit brand links"
                        title="edit brand links"
                      >
                        <mat-icon class="material-icons">edit</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        type="button"
                        *ngIf="isBrandCurrentlyEditable(key)"
                        (click)="editBrand(i)"
                        aria-label="cancel editing"
                        title="cancel editing"
                      >
                        <mat-icon class="material-icons">cancel</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        type="submit"
                        *ngIf="isBrandCurrentlyEditable(key)"
                        aria-label="update brand"
                        title="update brand"
                        [disabled]="editBrandForm.pristine"
                      >
                        <mat-icon class="material-icons">check</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        type="button"
                        *ngIf="isBrandCurrentlyEditable(key)"
                        (click)="deleteBrand(i)"
                        aria-label="delete brand"
                        title="delete brand"
                      >
                        <mat-icon class="material-icons">delete_forever</mat-icon>
                      </button>
                    </span>
                  </span>
                </div>
              </div>
            </div>

            <form
              fxFlex="100"
              fxLayout="row wrap"
              *ngIf="editBrandForm"
              [formGroup]="editBrandForm"
              (ngSubmit)="submitBrandForm()"
            >
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="bandcamp"
                  [formControl]="editBrandForm.controls.bandcamp"
                  placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com"
                />
                <mat-error *ngIf="editBrandForm.controls.bandcamp.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="facebook"
                  [formControl]="editBrandForm.controls.facebook"
                  placeholder="Facebook page link, e.g.: https://www.facebook.com/some-name"
                />
                <mat-error *ngIf="editBrandForm.controls.facebook.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="instagram"
                  [formControl]="editBrandForm.controls.instagram"
                  placeholder="Instagram page link, e.g.: https://www.facebook.com/some-name"
                />
                <mat-error *ngIf="editBrandForm.controls.instagram.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="soundcloud"
                  [formControl]="editBrandForm.controls.soundcloud"
                  placeholder="Soundcloud page link, e.g.: https://www.soundcloud.com/some-name"
                />
                <mat-error *ngIf="editBrandForm.controls.soundcloud.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="twitter"
                  [formControl]="editBrandForm.controls.twitter"
                  placeholder="Twitter page link, e.g.: https://twitter.com/some-name"
                />
                <mat-error *ngIf="editBrandForm.controls.twitter.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="website"
                  [formControl]="editBrandForm.controls.website"
                  placeholder="Website link, e.g.: https://website.tld"
                />
                <mat-error *ngIf="editBrandForm.controls.website.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  name="youtube"
                  [formControl]="editBrandForm.controls.youtube"
                  placeholder="Youtube link, e.g.: https://www.youtube.com/c_or_users/channelName"
                />
                <mat-error *ngIf="editBrandForm.controls.youtube.invalid" class="mat-body-1">
                  {{ 'form.invalid.link' | translate }}
                </mat-error>
              </mat-form-field>
            </form>
          </div>

          <div
            fxFlex
            fxLayoutFill
            fxLayout="row"
            fxLayoutAlign="center start"
            *ngIf="noBrands() && !details.create.brand"
          >
            The're are no brands yet, create one.
          </div>
        </mat-tab-body>
      </mat-tab>

      <mat-tab label="users">
        <mat-tab-body fxLayout="row wrap">
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="center stretch">
            <div
              *ngFor="let userKey of details.usersKeys; let i = index"
              fxFlex.lt-lg="100"
              fxFlex="48"
              fxLayout="row wrap"
              fxLayoutAlign="center start"
              [ngStyle]="{ border: '1px #000000 dotted', 'border-radius': '3px', margin: '5px' }"
            >
              <span fxFlex="100" class="mat-body-2"> {{ i }}. {{ userKey }} </span>
              <span fxFlex="100" class="mat-body-1" fxLayout="row wrap" fxLayoutAlign="start start">
                <span fxFlex="100" *ngIf="details.users[userKey].created">
                  Created {{ details.users[userKey].created | date }}
                </span>
                <span fxFlex="100" *ngIf="details.users[userKey].sc_id">
                  Soundcloud ID {{ details.users[userKey].sc_id }}
                </span>
                <span
                  fxFlex="100"
                  fxLayout="row wrap"
                  *ngIf="details.users[userKey].submittedPlaylists"
                >
                  <p fxFlex="100">
                    Submitted Playlists
                  </p>

                  <div
                    fxFlex="50"
                    fxFlex.lt-lg="100"
                    *ngFor="
                      let submittedPlaylistId of getObjectKeys(
                        details.users[userKey].submittedPlaylists
                      )
                    "
                  >
                    <span fxLayout="row wrap" fxLayoutAlign="start start">
                      <p fxFlex="100">id: {{ submittedPlaylistId }}</p>

                      <span
                        fxFlex
                        [ngStyle]="{
                          height: '200px',
                          'overflow-x': 'hidden',
                          'overflow-y': 'scroll',
                          border: '1px dotted'
                        }"
                      >
                        <app-soundcloud-player
                          fxFlex
                          [mode]="'playlist'"
                          [playlistId]="submittedPlaylistId"
                        >
                        </app-soundcloud-player>
                      </span>

                      <mat-form-field fxFlex="100">
                        <input
                          matInput
                          type="text"
                          placeholder="Select brand"
                          aria-label="Select brand"
                          [formControl]="brandAutocompleteControl"
                          [matAutocomplete]="brandAuto"
                        />

                        <mat-autocomplete
                          #brandAuto="matAutocomplete"
                          (optionSelected)="selectBrandFromList($event)"
                        >
                          <mat-option *ngFor="let option of getMatchedBrands()" [value]="option">
                            {{ option }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <span fxFlex="100">
                        <button
                          mat-button
                          type="button"
                          [disabled]="submissionAlreadyAdded(i)"
                          *ngIf="
                            !brandIsSelected(brandAutocompleteControl.value) &&
                            details.users[userKey].submittedPlaylists[submittedPlaylistId]
                          "
                          (click)="selectBrand(brandAutocompleteControl.value)"
                          aria-label="select a brand to approve an email submission"
                          title="select a brand to approve an email submission"
                        >
                          <i class="fa fa-2x fa-address-book"></i>
                        </button>
                        <button
                          mat-button
                          type="button"
                          [disabled]="submissionAlreadyAdded(i)"
                          *ngIf="
                            brandIsSelected(brandAutocompleteControl.value) &&
                            details.users[userKey].submittedPlaylists[submittedPlaylistId]
                          "
                          (click)="approveUserSubmission(submittedPlaylistId)"
                          aria-label="approve post"
                          title="approve post"
                        >
                          <i class="fa fa-2x fa-check"></i>
                        </button>
                        <button
                          mat-button
                          type="button"
                          *ngIf="!details.users[userKey].submittedPlaylists[submittedPlaylistId]"
                          (click)="rejectUserSubmission(submittedPlaylistId)"
                          aria-label="reject post"
                          title="reject post"
                        >
                          <i class="fa fa-2x fa-trash"></i>
                        </button>
                      </span>
                    </span>

                    <span
                      fxFlex="100"
                      class="mat-body-1"
                      *ngIf="details.selected.brand.key"
                      fxLayout="row wrap"
                    >
                      <p fxFlex="100">
                        Selected label links:
                      </p>
                      <span
                        *ngFor="let key of details.selected.brand.object | mapToIterable"
                        fxFlex="100"
                        fxLayout="row wrap"
                      >
                        <a
                          *ngIf="details.selected.brand.object[key]"
                          href="{{ details.selected.brand.object[key] }}"
                          target="_blank"
                        >
                          {{ key }}
                          <mat-icon
                            fontSet="fas"
                            fontIcon="fa-external-link-alt"
                            class="material-icons-fas"
                          ></mat-icon>
                        </a>
                        <span *ngIf="details.selected.brand.object[key] === ''">
                          {{ key }}
                          <mat-icon
                            fontSet="fas"
                            fontIcon="fa-external-link-alt"
                            class="material-icons-fas"
                            title="empty link field"
                          ></mat-icon>
                        </span>
                      </span>
                    </span>
                  </div>
                </span>
              </span>
            </div>
          </div>
        </mat-tab-body>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutFill *ngIf="details.preview.submission">
    <div fxFlex="100" fxLayoutFill fxLayout="column" fxLayoutAlign="start stretch">
      <button mat-button (click)="hideSubmissionPreview()">
        close preview
      </button>

      <div
        fxFlex="15"
        fxFlex-xs="30"
        class="heading"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
      >
        <h4 fxFlex fxFlex.lt-lg="100" fxLayout="row" fxLayoutAlign="center center">
          <button
            mat-button
            color="accent"
            fxFlex="20"
            disabled="true"
            aria-label="previous blog post"
            title="previous blog post"
          >
            <mat-icon fontSet="fas" fontIcon="fa-chevron-left" class="material-icons-fas">
            </mat-icon>
          </button>

          <span fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center">
            <span fxFlex="100">
              {{ details.preview.submission.title }}
            </span>
          </span>

          <button
            mat-button
            color="accent"
            fxFlex="20"
            disabled="true"
            aria-label="next blog post"
            title="next blog post"
          >
            <mat-icon fontSet="fas" fontIcon="fa-chevron-right" class="material-icons-fas">
            </mat-icon>
          </button>
        </h4>
      </div>

      <div fxFlex fxLayout="row wrap">
        <div fxFlex fxFlex.xs="100" fxFlex.sm="100" *ngIf="details.preview.submission">
          <iframe
            width="100%"
            height="350"
            scrolling="no"
            frameborder="no"
            [src]="soundcloudWidgetLink(details.preview.submission.id)"
            *ngIf="showSoundcloudWidgetLink(details.preview.submission.id)"
          >
          </iframe>
        </div>

        <div
          fxFlex="50"
          fxFlex-xs="100"
          fxFlex-sm="100"
          id="text"
          *ngIf="details.preview.submission.description"
          [ngStyle]="{ padding: '0 10px 0 10px' }"
        >
          <div ng-bind-html="details.preview.submission.description"></div>

          <p
            *ngIf="
              details.preview.submission.release_year &&
              details.preview.submission.release_month &&
              details.preview.submission.release_day
            "
          >
            Release date: {{ details.preview.submission.release_year }}.{{
              details.preview.submission.release_month
            }}.{{ details.preview.submission.release_day }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
