<div fxLayout="row wrap">
  <form fxFlex="100" fxLayout="row wrap" fxLayoustAlign="start stretch" [formGroup]="profileForm">
    <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field>
        <mat-icon
          matPrefix
          class="material-icons"
          *ngIf="firebaseUser?.emailVerified"
          matTooltip="your email is verified"
        >
          check
        </mat-icon>

        <input matInput type="email" formControlName="email" placeholder="your_email@domain.tld" />

        <mat-icon matSuffix class="material-icons"> email </mat-icon>

        <mat-error *ngIf="profileForm.controls.email.invalid">
          This field is required, and it should be an email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="your display name" />

        <mat-icon matSuffix class="material-icons"> account_circle </mat-icon>
      </mat-form-field>
    </span>

    <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
      <button
        mat-button
        *ngIf="!(editMode$ | async)"
        (click)="resetPassword()"
        aria-label="Reset password"
      >
        Reset password
      </button>

      <button mat-button (click)="toggleEditMode()" aria-label="toggle edit mode">
        <span *ngIf="!(editMode$ | async)">Edit profile</span>
        <span *ngIf="editMode$ | async">Cancel editing</span>
      </button>

      <button
        mat-button
        type="submit"
        *ngIf="editMode$ | async"
        [disabled]="profileForm.invalid"
        (click)="updateProfile()"
        aria-label="Update profile"
      >
        Update profile
      </button>

      <button
        mat-button
        type="submit"
        *ngIf="editMode$ | async"
        [disabled]="!profileForm.controls.password.value.trim()"
        (click)="deleteProfile()"
        color="warn"
        aria-label="Delete profile"
      >
        Delete profile
      </button>

      <mat-form-field *ngIf="editMode$ | async">
        <input
          matInput
          type="{{ (showPassword$ | async) ? 'text' : 'password' }}"
          formControlName="password"
          name="password"
          placeholder="Type your password to DELETE your account"
        />

        <mat-icon
          matSuffix
          class="material-icons"
          (click)="togglePasswordVisibility()"
          matTooltip="Toggle password visibility"
        >
          {{ !(showPassword$ | async) ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </mat-form-field>
    </span>
  </form>

  <mat-divider vertical="false" fxFlex="100"></mat-divider>

  <div fxFlex="100" fxLayout="row wrap">
    <h3 fxFlex="100">
      Soundcloud

      <button
        mat-button
        [color]="!me ? 'warn' : 'primary'"
        (click)="scConnect()"
        [attr.aria-label]="
          !me ? 'Connect with Soundcloud' : 'Reconnect with Soundcloud or connect another account'
        "
        [matTooltip]="
          !me ? 'Connect with Soundcloud' : 'Reconnect with Soundcloud or connect another account'
        "
      >
        {{ !me ? 'Connect' : 'Reconnect' }}
      </button>
    </h3>

    <span fxFlex="100"> Username: {{ me?.username }} </span>

    <span fxFlex="100"> Full name: {{ me?.full_name }} </span>

    <span fxFlex="100"> Playlists: {{ me?.playlist_count }} </span>

    <span fxFlex="100" fxShow fxHide.lt-md [innerHtml]="me?.description"></span>
  </div>
</div>
