<mat-card [ngStyle]="{ 'max-width': 'min-content' }">
  <mat-radio-group
    color="primary"
    #playlistSelector="matRadioGroup"
    name="playlistSelector"
    aria-label="{{ 'action.select' | translate }}"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <span faLayout="row wrap">
      <mat-radio-button checked value="pl-reposts1" matTooltip="Reposts 1">
        <a fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>library_music</mat-icon>
          <span fxShow fxHide.lt-sm>Reposts #1</span>
        </a>
      </mat-radio-button>
      <mat-radio-button value="pl-reposts2">
        <a fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matTooltip="Reposts 2">library_music</mat-icon>
          <span fxShow fxHide.lt-sm>Reposts #2</span>
        </a>
      </mat-radio-button>
      <mat-radio-button checked value="pl-samplepacks">
        <a fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matTooltip="Sample packs">library_music</mat-icon>
          <span fxShow fxHide.lt-sm>Sample Packs</span>
        </a>
      </mat-radio-button>
      <mat-radio-button checked value="pl-freedownloads">
        <a fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matTooltip="Free downloads">library_music</mat-icon>
          <span fxShow fxHide.lt-sm>Freed Downloads</span>
        </a>
      </mat-radio-button>
      <mat-radio-button checked value="pl-everything">
        <a fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matTooltip="Singles">library_music</mat-icon>
          <span fxShow fxHide.lt-sm>Singles</span>
        </a>
      </mat-radio-button>
    </span>
  </mat-radio-group>
</mat-card>

<div fxFlex="100" fxLayout="row" #virtualScrollContainer>
  <dnbhub-soundcloud-player
    fxFlex="100"
    [mode]="playlistSelector.value"
    [virtualScrollHeight]="playerHeight$ | async"
  ></dnbhub-soundcloud-player>
</div>
