/* Angular Material Theme, and Typography customization */
  @import '../../../node_modules/@angular/material/_theming.scss';

  /*
  *	Define a custom typography config that overrides font-family, and all levels.
  */
  $custom-typography: mat-typography-config(
    $font-family: 'Roboto, monospace, "Helvetica Neue", sans-serif',
    $display-4: mat-typography-level(112px, 112px, 300),
    $display-3: mat-typography-level(56px, 56px, 400),
    $display-2: mat-typography-level(45px, 48px, 400),
    $display-1: mat-typography-level(34px, 40px, 400),
    $headline: mat-typography-level(24px, 32px, 400), // h1
    $title: mat-typography-level(20px, 32px, 500), // h2
    $subheading-2: mat-typography-level(16px, 28px, 400), // h3
    $subheading-1: mat-typography-level(15px, 24px, 400), // h4
    $body-2: mat-typography-level(14px, 24px, 500), // bolder body text
    $body-1: mat-typography-level(14px, 20px, 400), // base body text
    $caption: mat-typography-level(12px, 20px, 400), // smaller hint text
    $button: mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input: mat-typography-level(inherit, 1.125, 400) // form input text
  );

  /*
  * Include the common styles for Angular Material. Include this here so that you only
  * have to load a single css file for Angular Material in your app.
  * Be sure to include this mixin once!
  * Custom typography config is passed to mat-core.
  */
  @include mat-core($custom-typography);

  // Define a custom light theme.
  $candy-app-primary: mat-palette($mat-deep-orange, 900);
  $candy-app-accent: mat-palette($mat-yellow, 400);
  $candy-app-warn: mat-palette($mat-red, 'A700');
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

  // Include the custom light theme styles.
  @include angular-material-theme($candy-app-theme);
/* Angular Material Theme, and Typography customization */

/* General colours */
  $white: #ffffff;
  $black: #000000;
  $grey: #c5c5c5;
  $darkGreen: #003300;
  $green: #009900;
  $amber: #ffc107;
  $lightGreen: #00cc33;
  $lightBlue: #00cccc;
  $yellow: #ffed00;
/* General colours */

$selected: rgba(0, 0, 0, 0.4);
$black: #000000;
$primary: mat-color($mat-deep-orange, 400);

/* required in case of self hosting of material-design-icons */
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../webfonts/MaterialIcons-Regular.woff2) format('woff2'),
      url(../webfonts/MaterialIcons-Regular.woff) format('woff'),
      url(../webfonts/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  .material-icons-fab { // font-awesome brands
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  .material-icons-fas { // font-awesome solid
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  /*
  *	class for custom svg icons
  */
  .material-icons-svg {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  a, button {
    .material-icons, .material-icons-fas, .material-icons-fab, .material-icons-svg {
      &:hover {
        cursor: pointer;
      }
    }
  }
/* required in case of self hosting of material-design-icons */

$boxPadding: 0.5em;

html {
  display: block;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;

  $scrollbarWidth: 10px;

  ::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: $scrollbarWidth;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $primary;
    -webkit-box-shadow: inset 0 0 2px $primary;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 48px $primary;
    -webkit-box-shadow: inset 0 0 48px $primary;
  }

  /*
  * Initialization indicator.
  */
  #init {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;

    object {
      width: 100%;
      height: auto!important;
      max-height: 100%;
    }
  }

  app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;

    mat-sidenav {
      width: 60vw;
    }

    // overrider mat drawer styling
    .mat-drawer-content {
      height: auto!important;
      overflow-y: auto;
      // background: #000 url(../img/electric-circuit.png) center center no-repeat; // TODO:client make it lighter
      background-attachment: fixed;
    }

    .twitter-timeline {
      background: #000 url(../img/electric-circuit.png) center center no-repeat; // TODO:client make it lighter
      background-attachment: fixed;
    }
  }

  app-index, app-singles, app-freedownloads, app-reposts, app-blog, app-user, app-admin, app-about {
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;

    soundcloud-player {
      min-width: 300px;
    }
  }

/*
* DOM elements general
*/
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
    }
    &:hover {cursor: pointer}
  }

  h1:hover, h2:hover, h3:hover, h4:hover, p:hover { cursor: default; }
  h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  form {
    legend {
      &:hover {
        cursor: default;
      }
    }
    textarea {
      resize: vertical;
    }
  }

/*
* layout
*/

  #spinner {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.15);

    mat-spinner {
      width: 20vh;
      height: auto!important;
    }
  }

/*
* general helper classes
*/
  .nohover {
    &:hover {
      cursor: default;
    }
  }

  .selected {
    background-color: lightgrey;
  }

  .clamp-flex {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    text-align: left;
  }

/*
* override some material selectors
*/
  mat-form-field {
    padding-top: $boxPadding * 2;
    padding-bottom: $boxPadding * 2;
  }

}
