$white: #ffffff;
$black: #000000;
$grey: #c5c5c5;
$darkGreen: #003300;
$green: #009900;
$amber: #ffc107;
$lightGreen: #00cc33;
$lightBlue: #00cccc;
$yellow: #ffed00;

$selected: rgba(0, 0, 0, 0.4);

$padding: 0.5em;

html {
	height: 100vh;
	width: 100vw;

	body {
		height: 100vh;
		width: 100vw;
		background: #000 url(../img/electric-circuit.png) center center no-repeat;
		background-attachment: fixed;
	}
}

/*
*	general
*/
	:focus { outline: 0; }
	a {
		color: $green;
		outline: none;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			color: $amber;
			text-decoration: none;
		}
	}
	.hover-pointer {
		&:hover {
			cursor: pointer;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		&:hover { cursor: default; }
	}
	img { border: none; }
	input { vertical-align: middle; }

	.splitter {
		flex: 1;
	}

	md-content {
		background: transparent;
	}

	.border { /* common class for bordered blocks, mostly soundcloud widgets */
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.33) !important;
		border-width: 0px 0px 0px !important;
		border-style: none none solid !important;
		border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.09) !important;
		-moz-border-top-colors: none !important;
		-moz-border-right-colors: none !important;
		-moz-border-bottom-colors: none !important;
		-moz-border-left-colors: none !important;
		border-image: none !important;
		overflow:hidden;
	}

	.visibility-toggler {
		&:hover {
			cursor: pointer;
		}
	}

/*
*	colouring
*/
	.green-text { color: $lightGreen; }
	.amber-text { color: $amber; }
	.yellow-text { color: $yellow; }
	.selected {
		background: $selected;
		color: $white;
	}

/*
*	scrollbars
*/
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.1);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.5);
	}

/*
*	navbar
*/
	#speaker { display: none; }

	.logo {
		height: 42px;
		width: 42px;
		border: 1px $grey solid;
		border-radius: 50%;
	}

	#dropdown-menu {
		height: auto!important;
		max-height: 95vh;
	}

	#sidebar-toggler {
		margin-left: 0;
	}

	md-menu-item {
		a {
			&:hover {
				cursor: pointer;
				color: $black;
				text-decoration: none;
			}
		}
	}

/*
*	freedownloads styling
*/
	#freedownloads{
		margin: 0;
		background: transparent;

		#freedownloads-list {
			overflow-x: hidden;
			background-color: rgba(0, 0, 0, 0.9);
			font-weight: bold;

			a {
				color: $white;
				padding: 0 $padding 0 $padding;
				min-height: 50px;

				&:hover {
					text-decoration: none;
					color: $amber;
				}

				&.selected { color: $amber; }
			}
		}

		#freedownloads-details {
			padding: 0;
			overflow-x: hidden;

			iframe {
				&.selected {
					border: 0.25em $amber dotted;
				}
			}
		}
	}

/*
*	about styling
*/
	#about {
		color: $white;

		h4 {
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
		}

		#text {
			padding: 0 $padding 0 $padding;
			font-size: 1.1em;
		}

		.links {
			a {
				min-width: 55px;
				&:hover {
					color: $amber;
				}
			}
		}
	}

	#showcase {
		min-width: 30vw;
		// overflow-y: hidden;
		overflow-x: hidden;

		/* custom embedded mailchimp subscribe form */
		#mc_embed_signup {
			background: $black;
			height: auto!important;
			clear: left;
			padding: 0;

			#mc-embedded-subscribe-form { padding-left: 0; }

			label {
				width: 100%;
				text-align: center;
			}

			#mce-EMAIL { width: 100%; }

			.clear {
				#mc-embedded-subscribe {
					width: 100%;

					&:hover {
						background: $amber;
						width: 100%;
						color: $black;
					}
				}
			}
		}

		/* custom soundcloud player */
		#sc-player {
			width: 100%;
			border-radius: 0;
			text-align: left;
			background: $black;

			iframe { border: 0; width: 100%; }

			div {
				&:hover {
					cursor: default;
				}
			}
		}

		/* used in about section */
		#powered_by {
			background: rgba(255,255,255, 0.5);
			color: $black;
		}
	}

	#twitter {
		overflow-y: scroll;
		overflow-x: hidden;
		display: block;
		box-sizing: border-box;
		position: relative;
		padding-left: 0.5em;
		font-variant: small-caps;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.5);

		iframe {
			width: 100%;
			height: 100%;
			padding-left: 0.1em;
			padding-right: 0.1em;
			background-color: transparent;

			html {
				body {
					.root { background-color: transparent; }
				}
			}
		}
	}

/*
*	blog styling
*/
	#blog {

		.post {
			color: $white;
			padding: 0 $padding 0 $padding;

			.heading {
				margin: ($padding * 2) 0 ($padding * 2) 0;
				text-transform: uppercase;

				h4 {
					text-align: center;

					.label-logo {
						//height: 28px;
						height: auto !important;
						width: auto !important;
						box-sizing: border-box;
						// border: 1px white dashed;
					}
				}

				.links {
					a {
						min-width: 55px;
						&:hover {
							color: $amber;
						}
					}
				}

			}

			#text {
				padding: 0 $padding 0 $padding;
				font-size: 13pt;
				overflow-y: scroll;
			}

			iframe {
				height: calc(100vh / 2);
			}
		}
	}

/*
*	actions speed dial
*/
	#actions {
		position: fixed;
		bottom: 0;
		right: 0.6em;
		background: transparent;
	}
/*
*	contact
*/
	#contact {
		flex: 1 1 auto;
		align-self: stretch;

		.contact-instructions {
			color: $white;
			background: rgba(0, 0, 0, 0.5);
			display: block;
			min-height: auto!important;
		}

	}
