<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" *ngIf="playlists">
  <mat-card
    class="playlist"
    fxFlex.lt-sm="100"
    fxFlex="47"
    fxFlex.gt-md="31"
    *ngFor="let playlist of playlists"
  >
    <mat-card-content class="playlist__content">
      <dnbhub-soundcloud-player [mode]="'playlist'" [playlistId]="playlist.id">
      </dnbhub-soundcloud-player>
    </mat-card-content>

    <mat-card-actions>
      <dnbhub-user-playlist-actions
        [playlist]="playlist"
        [dnbhubUser]="dnbhubUser"
        (submitPlaylist)="submitPlaylist($event)"
        (unsubmitPlaylist)="unsubmitPlaylist($event)"
        (previewPlaylist)="previewPlaylist($event)"
      ></dnbhub-user-playlist-actions>
    </mat-card-actions>
  </mat-card>
</div>
