<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <dnbhub-soundcloud-player fxFlex fxShow fxHide.lt-md [mode]="'dnbhub'"></dnbhub-soundcloud-player>

  <div
    fxFlex="35"
    fxFlex.lt-md="100"
    [ngStyle]="{ 'overflow-y': 'auto', height: '100%', 'max-height': '100%' }"
    fxLayout="row"
    fxLayoutAlign="start stretch"
  >
    <a
      fxFlex
      class="twitter-timeline"
      data-tweet-limit="35"
      width="100%"
      height="100%"
      data-chrome="noheader noborders nofooter noscrollbar transparent"
      data-show-replies="false"
      data-dnt="true"
      lang="EN"
      href="https://twitter.com/dnbhub_com"
      data-screen-name="dnbhub_com"
      data-widget-id="434953599831900160"
      >Tweets by @dnbhub_com</a
    >
  </div>
</div>
