html {height:100vh;}
body {background:#000 url(../img/electric-circuit.png) center center no-repeat;background-attachment: fixed;}
:focus {outline:0;}
table {border-collapse:collapse;border-spacing:0;}
a {color:#9DCE5C;outline:none;text-decoration:none;}
a:hover {cursor:pointer;}
p {margin:0 0 18px}
img {border:none;}
input {vertical-align:middle;}
#noscript {display:block;width:100%;height:75px;background:#FFFF00;}
.noscriptWarning {
	display:block;
	height:auto !important;
	float:left;
	color:red;
	padding:10px 0 0 45px;
	text-align:center;
	text-decoration:blink;
	font-weight:600;
	line-height:2em;
}

/*
* bootstrap extension classes
*/
.width{width:100%;}
.center{text-align:center;}
.top{margin-top:10px;}

/*
*	navbar styling
*/
#speaker {display:none;}
.logo {height:100%;width:auto!important;}
.nav li {text-transform:uppercase;}
.about {
	line-height:1em;
	font-size:0.8em;
	color:#ffffff;
	text-shadow:1px 1px 1px #000111;
	font-family:"Courier New", Courier, monospace;
}

/*
*	switchable views common
*/
#zero-padding {padding:0;}
#data-container {display:block;position:relative;width:100%;height:100vh;border-radius:0 0 0.2em 0.2em;padding:50px 0 0 0;}
.border { /* common class for bordered blocks, mostly soundcloud widgets */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.33) !important;
	border-width: 0px 0px 1px !important;
	border-style: none none solid !important;
	border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.09) !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-image: none !important;
	overflow:hidden;
}

/*
*	index view
*/
#spotlight { overflow:hidden;height:100vh;font-variant:small-caps;background-color:rgba(0, 0, 0, 0.5); }
#facebook-group-widget {
	margin-top:75px;
	display:block;
	position:relative;
	border-radius:0;
	border:none;
	overflow:hidden;
	font: 15px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
}
#showcase {padding-left:0;padding-right:0;}
/* custom embedded mailchimp subscribe form */
#mc_embed_signup {background:#000000; height:auto!important; clear:left; font:12px Helvetica,Arial,sans-serif;padding:50px 0 0 0;}
#mc_embed_signup #mc-embedded-subscribe-form {padding-left:0;}
#mc_embed_signup label {width:100%; text-align:center;}
#mc_embed_signup label .yellow {color:#ffed00;}
#mc_embed_signup #mce-EMAIL {width:100%;}
#mc_embed_signup .clear #mc-embedded-subscribe {width:100%;}
#mc_embed_signup #mc-embedded-subscribe:hover {background:#ffed00; width:100%;color:#000000;}
/* custom soundcloud player */
#sc_player {
	display:block;
	min-width:100%;
	position:relative;
	border-radius:0;
	text-align:left;
	overflow:scroll;
	overflow-x:hidden;
	background:#000000;
	font: 15px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
}
#sc_player a:link {color:#9DCE5C;outline:none;text-decoration:none;border:1px solid transparent;border-radius:4px;}
#sc_player a:visited {color:#00FF00;outline:none;text-decoration:none;border:1px solid transparent;border-radius:4px;}
#sc_player a:hover {color:#ffff00;outline:none;text-decoration:none;border:1px solid #ffff00;border-radius:4px;}
#sc_player a:active {color:#0000FF;outline:none;text-decoration:none;border:1px solid transparent;border-radius:4px;}
#sc_player #player_progress {display:block;border:0;width:100%;height:30px;}
#sc_player #title, #sc_player #genre {display:block;width:100%;padding-left:0.2em;padding-left:0.2em;}
#sc_player span {display:table-cell;width:4.8vw;text-align:center;}
#sc_player #header {display:block;color:#fff;background-color:grey;text-transform:uppercase;}
#sc_player #line {display:block;color:#fff;background:url(../img/monitor.png) center center repeat;border-bottom: thick dotted #ff0000;}
#sc_player #line:hover {background:grey;}
@media (max-width: 993px) {
	#sc_player span {display:table-cell;padding-left:0.2em;padding-left:0.2em;width:12vw;}
}
@media (max-width: 766px) {
	#sc_player span {display:table-cell;padding-left:0.2em;padding-left:0.2em;width:17vw;}
}
#twitter {
	overflow:hidden;
	display:block;
	box-sizing:border-box;
	position:relative;
	padding-left:0.5em;
	font-variant:small-caps;
	height:100vh;
	z-index:10;
	/*background:url(../img/monitor.png) center center repeat;*/
	background-color:rgba(0, 0, 0, 0.5);
	padding:50px 0 0 0;
}
#twitter iframe {width:100%;height:100%;padding-left:0.1em;padding-right:0.1em; background-color:transparent;}
#twitter iframe html body .root {background-color:transparent;}

/*
*	hive styling
*/
.freedownloads{margin:0;position:relative;vertical-align:bottom;display:block;background:transparent;overflow:visible;height: calc(100vh - 50px);width:100%;z-index:4;}
#freedownloads-list {padding:0; height: calc(100vh - 50px); background-color:rgba(0, 0, 0, 0.5);}
#freedownloads-details {padding:0; height: calc(100vh - 50px);}
.freedownloads-item {display:block;}
.freedownloads-item:hover {text-decoration:none;}
.freedownloads .selected {color:yellow;}

/*
*	blog styling
*/
#blog {padding:50px 0 0 0;}
#blog .post {color:#ffffff; padding:0 0.5em 0 0.5em;}
#blog .post h4, #blog .post .links {text-align:center;}
#blog .post h4 .blog-control {display:block; position:absolute; cursor:pointer;}
#blog .post h4 .previous {left:0;}
#blog .post h4 .next {right:0;}
#blog .post .links a {height:100%; width:11%;}
#blog .post .heading {margin:0.3em 0 0.3em 0; text-transform:uppercase;}
#blog .post .text {display:inline-block; overflow-X:hidden; background-color:rgba(0, 0, 0, 0.5); padding: 0.5em 0.5em 0 0.5em;}
#blog .post .label-logo {height:28px; width:auto !important; box-sizing:border-box;border:1px white dashed;}

/*
*	disqus styling
*/
#disqus_thread {display:block;position:relative;width:100%;height:100vh;background:url(../img/monitor.png) center center repeat;}

/*
*	about styling
*/
#about {padding:50px 0 0 0;}
#about {color:#ffffff; padding:0 0.5em 0 0.5em;}
#about h4, #blog .links {text-align:center;}
#about .links a {height:100%; width:11%;}
#about .heading {margin:0.3em 0 0.3em 0; text-transform:uppercase;}
#about .text {display:inline-block; overflow-X:hidden;}
#showcase #powered_by {display:block;background:#ffffff;}
#showcase #powered_by .powered-by-heading {display:block; width:100%; font-weight: bold; text-align: center; font-size: 2em;}
#showcase #powered_by .powered-by-logo {height:auto !important; max-height:14vh; width:100%; box-sizing:border-box;}


/*
* SC manager / analyser
*/
#scmanager,
#scanalyser{height:100vh;}
#manager_options #info_indicator,
#manager_options #tracks_indicator,
#manager_options #followers_indicator,
#manager_options #followings_indicator,
#manager_options #groups_indicator{color:red;}
/* unvisited link */
#scmanager a:link,
#scanalyser a:link {color:#9DCE5C;outline:none;text-decoration:none;}
/* visited link */
#scmanager a:visited,
#scanalyser a:visited {color:#00FF00;outline:none;text-decoration:none;}
/* mouse over link */
#scmanager a:hover,
#scanalyser a:hover {color:#ffff00;outline:none;text-decoration:none;}
/* selected link */
#scmanager a:active,
#scanalyser a:active {color:#0000FF;outline:none;text-decoration:none;}
#analyser{color:#fff;width:100%;text-align:left;}
#analyser #line:hover{background:#444;}
/* formatting for user info output*/
#analyser #profile{display:block;text-align:left;}
#analyser #profile div{display:block;padding:0.2em 1em 0.2em 1em;}
#analyser #profile div span{display:inline-block;margin-left:1em;}
#analyser #profile #avatar{margin-left:1em;height:100px;width:100px;}
/* formatting for tracklist output*/
#analyser #player_progress{display:block;border:0;width:100%;height:auto !important;min-height:30px;max-height:35px;}
#analyser #trackList .glyphicon,
#analyser #playlistList .glyphicon{font-size:1.1em;}
#trackList,
#playlistList{display:block;text-align:left;}
#trackList #line-h,
#playlistList #line-h{display:table-row;color:#fff;width:100%;text-transform:uppercase;background-color:#000;}
#trackList #line,
#playlistList #line{display:table-row;color:#fff;width:100%;}
#trackList #line-h span,
#playlistList #line-h span{display:table-cell;padding-left:0.5em;min-width:10%;max-width:10%;vertical-align:middle;}
#trackList #line span,
#playlistList #line span{display:table-cell;padding-left:0.5em;min-width:10%;max-width:10%;vertical-align:middle;}
/* formatting for followers output*/
#followerList{display:block;text-align:left;}
#followerList #header{display:table-row;color:#fff;text-transform:uppercase;width:100%;background-color:#000;}
#followerList #line{display:table-row;color:#fff;width:100%;}
#followerList span {display:table-cell;padding-left:0.5em;min-width:11%;max-width:11%;}
/* formatting for groupsList output*/
#groupsList{display:block;text-align:left;}
#groupsList #line-h{display:table-row;color:#fff;width:100%;text-transform:uppercase;background-color:#000;}
#groupsList #line{display:table-row;color:#fff;width:100%;}
#groupsList #line-h span{display:table-cell;padding-left:0.5em;min-width:10%;max-width:10%;vertical-align:middle;}
#groupsList #line span{display:table-cell;padding-left:0.5em;min-width:10%;max-width:10%;vertical-align:middle;}
/* common line node for utility_data */
#line #utility_data{display:none;}
/* Floating static window - output filters container */
.floating-static-window{display:none;position:fixed;float:right;width:90vw;height:100vh;right:-10vw;z-index:10;}
.floating-static-window .bookmark{
	display:inline-block;
	position:relative;
	width:3%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	text-shadow: 1px 1px #000000;
	color:#ffffff;
}
.floating-static-window .bookmark .glyphicon{top:50vh;}
.floating-static-window .bookmark a{text-decoration:none;display:block;width:100%;height:100%;}
.floating-static-window .filters{
	display:inline-block;
	position:relative;
	width:86%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	text-shadow: 1px 1px #000000;
	color:#ffffff;
}
.floating-static-window .filters a{text-decoration:none;}
