<div id="about" flex layout="row" layout-fill layout-align="start stretch">
	<div flex="1 1 auto" layout="column" layout-fill layout-align="start stretch">
		<div flex="10" flex-xs="30" flex-sm="20" layout="row" layout-align="start stretch" layout-wrap>
			<h4 flex="50" flex-xs="100" flex-sm="100" layout="row" layout-align="center center" class="md-display-1">
				{{dnbhubDetails.title}}
			</h4>
			<div flex="50" flex-xs="100" flex-sm="100" layout="row" layout-align="center center" class="links" layout-wrap>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.soundcloud}}" target=_blank aria-label="soundclous link">
					<i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.rss}}" target=_blank aria-label="rss link">
					<i class="fa fa-rss fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.twitter}}" target=_blank aria-label="twitter link">
					<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.facebook}}" target=_blank aria-label="facebook link">
					<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.youtube}}" target=_blank aria-label="youtube link">
					<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.instagram}}" target=_blank aria-label="instagram link">
					<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" flex ng-href="{{dnbhubDetails.links.bandcamp}}" target=_blank aria-label="bandcamp link">
					<i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div flex="90" flex-xs="70" flex-sm="80" id="text" class="md-body-1" ng-bind-html="dnbhubDetails.text"></div>
	</div>

	<div flex="25" class="hide-xs hide-sm hide-md" id="showcase" layout="column" layout-align="start stretch" layout-padding>
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<div id="mc_embed_signup">
			<form action="//dnbhub.us3.list-manage.com/subscribe/post?u=3eeba7cfe8388b91c662bdf95&amp;id=8cca3229c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Join <span class="yellow">Drum'n'Bass Hub</span> Mailing List</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_3eeba7cfe8388b91c662bdf95_8cca3229c8" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</div>
		<!--End mc_embed_signup-->
		<div flex id="powered_by" layout="column" layout-align="start stretch" layout-wrap>
			POWERED BY
			<img flex title="{{item.name}}" ng-src="{{item.logo}}" ng-repeat="item in dnbhubDetails.poweredBy"/>
		</div>
	</div>
</div>
