<md-dialog aria-label="Add blog post dialog">
	<md-dialog-content>
		<span layout="column" layout-padding>
			<p class="green-text" ng-hide="sendMailResponse.success == ''">{{sendMailResponse.success}}</p>
			<p class="amber-text" ng-hide="sendMailResponse.error == ''">{{sendMailResponse.error}}</p>
		</span>
		<form flex accept-charset="UTF-8" name="addBlogPostForm" layout="column" layout-padding align-items="start stretch">
			<legend>In order to add a blog post about a release submit a soundcloud playlist link to release (you should have a soundcloud account and have a playlist created there) and your email. The submission will be reviewed and added to the blog section of Dnbhub if it satisfies genre requirements and passes general production quality control.</legend>
			<md-input-container>
				<input type="email" name="email" ng-model="form.email" ng-pattern="patterns.email" placeholder="your_e-mail@domain.com" required>
				<div ng-messages="addBlogPostForm.email.$error">
					<div ng-message="required">This field is required</div>
					<div ng-message="pattern">Invalid value, it should be an email</div>
				</div>
			</md-input-container>
			<md-input-container>
				<input type="text" name="soundcloudPlaylistLink" ng-model="form.soundcloudPlaylistLink" ng-pattern="patterns.soundcloudPlaylistLink" placeholder="Soundcloud playlist link, for example: https://soundcloud.com/dnbhub/sets/everything" required>
				<div ng-messages="addBlogPostForm.soundcloudPlaylistLink.$error">
					<div ng-message="required">This field is required</div>
					<div ng-message="pattern">Invalid value, example link: https://soundcloud.com/dnbhub/sets/everything</div>
				</div>
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="center stretch">
		<md-button ng-disabled="addBlogPostForm.$invalid" ng-class="{disabled: addBlogPostForm.$invalid}" ng-click="submit()">
			<md-icon md-font-icon="fa fa-check"></md-icon>
			<span>Submit</span>
		</md-button>
		<md-button ng-click="cancel()">
			<md-icon md-font-icon="fa fa-close"></md-icon>
			<span>Cancel</span>
		</md-button>
	</md-dialog-actions>
</md-dialog>
