<div id="admin" flex layout="column" layout-fill layout-align="start stretch">
	<span ng-if="!firebase.isSignedIn" class="instructions md-body-2">You must me authenticated to access admin controls</span>
	<span ng-if="!firebase.privilegedAccess()" class="instructions md-body-2">You must have privileged access rights to access admin controls</span>
	<span ng-if="instructions" class="instructions md-body-2">{{ instructions }}</span>
	<span ng-if="firebase.isSignedIn && firebase.privilegedAccess()" flex layout="column" layout-align="start stretch">

		<span flex="10" layout="row" layout-align="start stretch" layout-align-xs="center center" class="md-padding">
			<div class="md-body-2">some general data here</div>
		</span>

		<md-tabs flex="90" md-border-bottom md-swipe-content layout="column">
			<md-tab flex layout="column">
				<md-tab-label>email messages</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="column" layout-align="start stretch" ng-if="emails.messages">
						<md-grid-list flex="100" md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-xl="4" md-gutter="50px" md-row-height="2.5:3" md-row-height-xs="1.5:3">
							<md-grid-tile ng-repeat="message in emails.messages">
								<md-grid-tile-header class="md-body-2" layout="row" layout-align="center center">
									{{$index}}. {{ message.header }}
								</md-grid-tile-header>
								<div class="md-padding md-body-1">
									<p flex="100">From: {{ message.name }} < {{ message.email }} ></p>
									<p flex="100">Message: {{ message.message }}</p>
									<p flex="100">Sent from domain: {{ message.domain }}</p>
								</div>
								<md-grid-tile-footer>
									<md-button class="md-icon-button amber-text" ng-disabled="loading" ng-if="true" ng-click="dummyAction($index)" aria-label="Some action">
										<i class="fa fa-2x fa-remove"></i>
									</md-button>
								</md-grid-tile-footer>
							</md-grid-tile>
						</md-grid-list>
					</div>
					<div flex="100" layout="column" layout-align="start stretch" ng-if="!emails.messages">the're are no incoming emails</div>
				</md-tab-body>
			</md-tab>

			<md-tab flex layout="column">
				<md-tab-label>email submissions</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="column" layout-align="start stretch" ng-if="emails.blogSubmissions">
						<md-grid-list flex="100" md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-xl="4" md-gutter="50px" md-row-height="2.5:3">
							<md-grid-tile ng-repeat="submission in emails.blogSubmissions">
								<md-grid-tile-header class="md-body-2" layout="row" layout-align="center center">
									{{$index}}. From: {{ submission.email }}
								</md-grid-tile-header>
								<div class="md-padding md-body-1">
									<p>Link: <a href="{{ submission.link }}" target=_blank>{{ submission.link }}</a></p>
									<p>Sent from domain: {{ submission.domain }}</p>
								</div>
								<md-grid-tile-footer>
									<md-button class="md-icon-button amber-text" ng-disabled="loading" ng-if="true" ng-click="dummyAction($index)" aria-label="Some action">
										<i class="fa fa-2x fa-remove"></i>
									</md-button>
									<md-button class="md-icon-button" ng-disabled="loading" ng-if="true" ng-click="dummyAction($index)" aria-label="Another action">
										<i class="fa fa-2x fa fa-th-large"></i>
									</md-button>
								</md-grid-tile-footer>
							</md-grid-tile>
						</md-grid-list>
					</div>
					<div flex="100" layout="column" layout-align="start stretch" ng-if="!emails.blogSubmissions">the're are no blog submissions</div>
				</md-tab-body>
			</md-tab>
		</md-tabs>

	</span>
</div>
