<div id="admin" flex layout="column" layout-fill layout-align="start stretch" ng-if="!blogPostPreview">
	<span ng-if="!firebase.isSignedIn" class="instructions md-body-2">You must me authenticated to access admin controls</span>
	<span ng-if="!firebase.privilegedAccess()" class="instructions md-body-2">You must have privileged access rights to access admin controls</span>
	<span ng-if="instructions" class="instructions md-body-2">{{ instructions }}</span>
	<span ng-if="firebase.isSignedIn && firebase.privilegedAccess()" flex layout="column" layout-align="start stretch">

		<span flex="10" layout="row" layout-align="start stretch" layout-align-xs="center center" class="md-padding">
			<div class="md-body-2">some general data here</div>
		</span>

		<md-tabs flex="90" md-border-bottom md-swipe-content layout="column">

			<md-tab flex layout="column">
				<md-tab-label>email submissions</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="row" layout-align="start stretch" layout-wrap ng-if="emails.blogSubmissions">
						<div ng-repeat="submission in emails.blogSubmissions" flex-xs="100" flex="33" layout="column" layout-align="start stretch" ng-if="(selectedBrandId >= 0 && selectedBrandId === $index) || (!selectedBrandId && selectedBrandId !== 0)">
							<span flex class="md-body-2" layout="row" layout-align="center center">
								{{$index}}. From: {{ submission.email }}
							</span>
							<span flex class="md-padding md-body-1">
								<p>Link:
									<a hide show-xs show-sm href="{{ submission.link }}" target=_blank><i class="fa fa-1x fa-external-link"></i></a>
									<a hide show-gt-sm href="{{ submission.link }}" target=_blank>{{ submission.link }}</a></p>
								<p>Sent from domain: {{ submission.domain }}</p>
							</span>
							<span flex class="md-padding md-body-1" ng-if="selectedBrandId >= 0">
								<p>Selected label links:</p>
								<span ng-repeat="(key, value) in getSelectedBrand()">
									{{key}}: <a ng-if="value !== ''" href="{{value}}" terget=_blank><i class="fa fa-1x fa-external-link"></i></a>
									<i ng-if="value === ''" class="fa fa-1x fa-external-link" title="empty link field"></i>, 
								</span>
							</span>
							<span flex layout="row" layout-align="start center" layout-wrap>
								<md-autocomplete flex="100" md-no-cache="true" md-selected-item="selectedBrandKey" md-items="brand in getMatchedBrands(searchBrands)" md-search-text="searchBrands" md-item-text="brand" md-clear-button="true" md-selected-item-change="selectBrandFromList(brand)" placeholder="select brand" ng-if="selectedBrandId >= 0">
									<span>{{brand}}</span>
								</md-autocomplete>
								<md-button class="md-icon-button amber-text" ng-disabled="loading" ng-if="true" ng-click="deleteEmailSubmission($index)" aria-label="delete submission" title="delete submission">
									<i class="fa fa-2x fa-trash"></i>
								</md-button>
								<md-button class="md-icon-button" ng-disabled="alreadyAdded($index) || loading" ng-if="true" ng-click="showSubmissionPreview($index)" aria-label="preview submission" title="preview submission">
									<i class="fa fa-2x fa-th-large"></i>
								</md-button>
								<md-button class="md-icon-button green-text" ng-disabled="alreadyAdded($index) || loading" ng-if="!selectedBrandId && selectedBrandId !== 0" ng-click="selectBrand($index)" aria-label="select a brand to approve an email submission" title="select a brand to approve an email submission">
									<i class="fa fa-2x fa-address-book"></i>
								</md-button>
								<md-button class="md-icon-button amber-text" ng-disabled="alreadyAdded($index) || loading" ng-if="selectedBrandId >= 0" ng-click="selectBrand(null)" aria-label="deselect a brand for approval" title="deselect a brand for approval">
									<i class="fa fa-2x fa-undo"></i>
								</md-button>
								<md-button class="md-icon-button green-text" ng-disabled="alreadyAdded($index) || loading" ng-if="selectedBrandId >= 0" ng-click="approveEmailSubmission($index)" aria-label="approve email submission" title="approve email submission">
									<i class="fa fa-2x fa-check"></i>
								</md-button>
							</span>
						</div>
					</div>
					<div flex="100" layout="column" layout-align="start stretch" ng-if="!emails.blogSubmissions">the're are no blog submissions</div>
				</md-tab-body>
			</md-tab>

			<md-tab flex layout="column">
				<md-tab-label>email messages</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="row" layout-align="start stretch" layout-wrap ng-if="emails.messages">
						<div ng-repeat="message in emails.messages" flex-xs="100" flex="33" layout="column" layout-align="start stretch">
							<span flex class="md-body-2" layout="row" layout-align="center center">
								{{$index}}. {{ message.header }}
							</span>
							<span flex class="md-padding md-body-1">
								<p flex="100">From: {{ message.name }} < {{ message.email }} ></p>
								<p flex="100">Sent from domain: {{ message.domain }}</p>
							</span>
							<span flex layout="row" layout-align="start center" layout-wrap>
								<md-button class="md-icon-button amber-text" ng-disabled="loading" ng-if="true" ng-click="deleteMessage($index)" aria-label="delete message" title="delete message">
									<i class="fa fa-2x fa-trash"></i>
								</md-button>
								<md-button class="md-icon-button" ng-disabled="loading" ng-if="true" ng-click="showMessageText($index)" aria-label="show message text" title="show message text">
									<i class="fa fa-2x fa-envelope-open-o"></i>
								</md-button>
							</span>
						</div>
					</div>
					<div flex="100" layout="column" layout-align="start stretch" ng-if="!emails.messages">the're are no incoming emails</div>
				</md-tab-body>
			</md-tab>

			<md-tab flex layout="column">
				<md-tab-label>brands</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="row" layout-align="start stretch" layout-wrap>
						<div ng-if="!newBrandCreateMode" flex-xs="100" flex-sm="50" flex="33" layout="column" layout-align="center center">
							<md-button class="md-icon-button" type="button" ng-disabled="loading" ng-click="createBrand()" aria-label="add a new brand" title="add a new brand">
								<i class="fa fa-2x fa-plus green-text"></i>
							</md-button>
						</div>
						<div class="md-padding md-body-1" ng-if="newBrandCreateMode" flex-xs="100" flex-sm="50" flex="33" layout="column" layout-align="center stretch">
							<form flex name="newBrandForm" accept-charset="UTF-8" layout="column" align-items="start stretch" ng-if="isBrandEditable(brandKey)" ng-cloak>
								<md-input-container>
									<input type="text" name="name" ng-model="newBrand.name" ng-pattern="patterns.name" placeholder="Brand name without spaces in CamelCase" required>
									<div ng-messages="newBrandForm.name.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value: 2+ English letters, digits</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="bandcamp" ng-model="newBrand.bandcamp" ng-pattern="patterns.links.bandcamp" placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com" required>
									<div ng-messages="newBrandForm.bandcamp.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://some-name.bandcamp.com</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="facebook" ng-model="newBrand.facebook" ng-pattern="patterns.links.facebook" placeholder="Facebook profile link, e.g.: https://www.facebook.com/some-name" required>
									<div ng-messages="newBrandForm.facebook.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://www.facebook.com/some-name</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="instagram" ng-model="newBrand.instagram" ng-pattern="patterns.links.instagram" placeholder="Instagram profile link, e.g.: https://www.instagram.com/some-name" required>
									<div ng-messages="newBrandForm.instagram.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://www.instagram.com/some-name</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="soundcloud" ng-model="newBrand.soundcloud" ng-pattern="patterns.links.soundcloud" placeholder="Soundcloud profile link, e.g.: https://www.soundcloud.com/some-name" required>
									<div ng-messages="newBrandForm.soundcloud.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://www.soundcloud.com/some-name</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="twitter" ng-model="newBrand.twitter" ng-pattern="patterns.links.twitter" placeholder="Twitter profile link, e.g.: https://twitter.com/some-name" required>
									<div ng-messages="newBrandForm.twitter.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://twitter.com/some-name</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="website" ng-model="newBrand.website" ng-pattern="patterns.links.website" placeholder="Brand's website link, e.g.: https://domain-name.top-level-domain" required>
									<div ng-messages="newBrandForm.website.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://domain-name.top-level-domain</div>
									</div>
								</md-input-container>
								<md-input-container>
									<input type="text" name="youtube" ng-model="newBrand.youtube" ng-pattern="patterns.links.youtube" placeholder="Youtube channel or user link, e.g.: https://www.youtube.com/c_or_users/channelName" required>
									<div ng-messages="newBrandForm.youtube.$error">
										<div ng-message="required">This field is required</div>
										<div ng-message="pattern">Invalid value, example link: https://www.youtube.com/c_or_users/channelName</div>
									</div>
								</md-input-container>
								<span flex ng-if="newBrandCreateMode" layout="row" layout-align="start center" layout-wrap>
									<md-button class="md-icon-button" type="button" ng-disabled="loading" ng-click="createBrand()" aria-label="cancel brand creation" title="cancel brand creation">
										<i class="fa fa-2x fa-times"></i>
									</md-button>
									<md-button class="md-icon-button green-text" type="submit" ng-disabled="loading" ng-click="submitNewBrand()" aria-label="submit a new brand" title="submit a new brand">
										<i class="fa fa-2x fa-check"></i>
									</md-button>
								</span>
							</form>
						</div>

						<div ng-repeat="brandKey in brandsKeys" flex-xs="100" flex-sm="50" flex="33" layout="column" layout-align="center stretch">
							<span flex="1" class="md-body-2" layout="row" layout-align="center center">
								{{$index}}. {{ brandKey }}
							</span>
							<span flex="2" class="md-padding md-body-1">
								<div flex ng-if="!isBrandEditable(brandKey)">
									<p flex="100">Bandcamp <a href="{{ brands[brandKey].bandcamp }}" target=_blank ng-if="brands[brandKey].bandcamp">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Facebook <a href="{{ brands[brandKey].facebook }}" target=_blank ng-if="brands[brandKey].facebook">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Instagram <a href="{{ brands[brandKey].instagram }}" target=_blank ng-if="brands[brandKey].instagram">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Soundcloud <a href="{{ brands[brandKey].soundcloud }}" target=_blank ng-if="brands[brandKey].soundcloud">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Twitter <a href="{{ brands[brandKey].twitter }}" target=_blank ng-if="brands[brandKey].twitter">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Website <a href="{{ brands[brandKey].website }}" target=_blank ng-if="brands[brandKey].website">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
									<p flex="100">Youtube <a href="{{ brands[brandKey].youtube }}" target=_blank ng-if="brands[brandKey].youtube">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
								</div>
								<form flex name="editBrandForm" accept-charset="UTF-8" layout="column" align-items="start stretch" ng-if="isBrandEditable(brandKey)" ng-cloak>
									<md-input-container>
										<input type="text" name="bandcamp" ng-model="brands[brandKey].bandcamp" ng-pattern="patterns.links.bandcamp" placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com" required>
										<div ng-messages="editBrandForm.bandcamp.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://some-name.bandcamp.com</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="facebook" ng-model="brands[brandKey].facebook" ng-pattern="patterns.links.facebook" placeholder="Facebook profile link, e.g.: https://www.facebook.com/some-name" required>
										<div ng-messages="editBrandForm.facebook.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://www.facebook.com/some-name</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="instagram" ng-model="brands[brandKey].instagram" ng-pattern="patterns.links.instagram" placeholder="Instagram profile link, e.g.: https://www.instagram.com/some-name" required>
										<div ng-messages="editBrandForm.instagram.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://www.instagram.com/some-name</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="soundcloud" ng-model="brands[brandKey].soundcloud" ng-pattern="patterns.links.soundcloud" placeholder="Soundcloud profile link, e.g.: https://www.soundcloud.com/some-name" required>
										<div ng-messages="editBrandForm.soundcloud.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://www.soundcloud.com/some-name</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="twitter" ng-model="brands[brandKey].twitter" ng-pattern="patterns.links.twitter" placeholder="Twitter profile link, e.g.: https://twitter.com/some-name" required>
										<div ng-messages="editBrandForm.twitter.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://twitter.com/some-name</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="website" ng-model="brands[brandKey].website" ng-pattern="patterns.links.website" placeholder="Brand's website link, e.g.: https://domain-name.top-level-domain" required>
										<div ng-messages="editBrandForm.website.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://domain-name.top-level-domain</div>
										</div>
									</md-input-container>
									<md-input-container>
										<input type="text" name="youtube" ng-model="brands[brandKey].youtube" ng-pattern="patterns.links.youtube" placeholder="Youtube channel or user link, e.g.: https://www.youtube.com/c_or_users/channelName" required>
										<div ng-messages="editBrandForm.youtube.$error">
											<div ng-message="required">This field is required</div>
											<div ng-message="pattern">Invalid value, example link: https://www.youtube.com/c_or_users/channelName</div>
										</div>
									</md-input-container>
								</form>
								<span flex layout="row" layout-align="start center" layout-wrap>
									<md-button class="md-icon-button" type="button" ng-disabled="loading" ng-if="!isBrandEditable(brandKey)" ng-click="editBrand($index)" aria-label="edit brand links" title="edit brand links">
										<i class="fa fa-2x fa-pencil"></i>
									</md-button>
									<md-button class="md-icon-button" type="button" ng-disabled="loading" ng-if="isBrandEditable(brandKey)" ng-click="editBrand($index)" aria-label="cancel editing" title="cancel editing">
										<i class="fa fa-2x fa-times"></i>
									</md-button>
									<md-button class="md-icon-button green-text" type="submit" ng-disabled="loading" ng-if="isBrandEditable(brandKey)" ng-click="updateBrand()" aria-label="update brand" title="update brand">
										<i class="fa fa-2x fa-check"></i>
									</md-button>
									<md-button class="md-icon-button amber-text" type="button" ng-disabled="loading" ng-if="isBrandEditable(brandKey)" ng-click="deleteBrand($index)" aria-label="delete brand" title="delete brand">
										<i class="fa fa-2x fa-trash"></i>
									</md-button>
								</span>
							</span>
						</div>
					</div>
				</md-tab-body>
			</md-tab>

			<md-tab flex layout="column">
				<md-tab-label>users</md-tab-label>
				<md-tab-body flex layout="column" class="md-padding">
					<div class="data-container" flex layout="row" layout-align="start stretch" layout-wrap>
						<div ng-repeat="userKey in usersKeys" flex-xs="100" flex-sm="50" flex="33" layout="column" layout-align="center stretch">
							<span flex="1" class="md-body-2" layout="row" layout-align="center center">
								{{$index}}. {{ userKey }}
							</span>
							<span flex="2" class="md-padding md-body-1">
								<div flex>
									<p flex="100" ng-if="users[userKey].created">Created {{ users[userKey].created | date }}</p>
									<p flex="100" ng-if="users[userKey].sc_id">Soundcloud ID {{ users[userKey].sc_id }}</p>
									<p flex="100" ng-if="users[userKey].submittedPlaylists">Submitted Playlists
										<div layout="row" layout-wrap>
											<div flex="50" flex.xs="100" flex-sm="100" flex-md="100" ng-repeat="(playlistId, submitted) in users[userKey].submittedPlaylists">
												<span layout="row" layout-wrap>
													<p>id: <strong>{{playlistId}}</strong></p>
													<md-button class="md-icon-button green-text" type="submit" ng-disabled="loading" ng-if="!submitted" ng-click="approvePost(playlistId)" aria-label="approve post" title="approve post">
														<i class="fa fa-2x fa-check"></i>
													</md-button>
													<md-button class="md-icon-button amber-text" type="button" ng-disabled="loading" ng-if="!submitted" ng-click="rejectPost(playlistId)" aria-label="reject post" title="reject post">
														<i class="fa fa-2x fa-trash"></i>
													</md-button>
												</span>
												<iframe width="97%" height="350" scrolling="no" frameborder="no" ng-src="{{widgetLink(playlistId)}}" ng-if="widgetLink(playlistId) !== '#'"></iframe>
											</div>
										</div>
									</p>
								</div>
							</span>
						</div>
					</div>
				</md-tab-body>
			</md-tab>

		</md-tabs>

	</span>
</div>

<div id="blog-post-preview" flex layout="row" layout-fill layout-align="start stretch" ng-if="blogPostPreview">
	<div flex class="post" layout="column" layout-align="start stretch">
		<md-button ng-click="hideSubmissionPreview()">close preview</md-button>
		<div flex="15" flex-xs="30" class="heading" layout="row" layout-align="start center" layout-wrap>
			<h4 flex flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-align="center center">
				<a md-button flex="20" ng-disabled="true" aria-label="previous blog post" title="previous blog post" class="md-accent">
					<i class="fa fa-chevron-left"></i>
				</a>
				<span flex="60" layout="row" layout-align="center center" layout-wrap>
					<span flex="100">{{blogPostPreview.title}}</span>
				</span>
				<a md-button flex="20" ng-disabled="true" aria-label="next blog post" title="next blog post" class="md-accent">
					<i class="fa fa-chevron-right"></i>
				</a>
			</h4>
		</div>
		<div flex layout="row" layout-wrap class="post-container">
			<div flex flex-xs="100" flex-sm="100" ng-if="blogPostPreview">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{widgetLink(blogPostPreview.id)}}" ng-if="widgetLink(blogPostPreview.id) !== '#'"></iframe>
			</div>
			<div flex="50" flex-xs="100" flex-sm="100" id="text" ng-if="blogPostPreview.description">
				<div ng-bind-html="blogPostPreview.description"></div>
				<p ng-if="blogPostPreview.release_year && blogPostPreview.release_month && blogPostPreview.release_day">Release date: {{blogPostPreview.release_year}}.{{blogPostPreview.release_month}}.{{blogPostPreview.release_day}}</p>
			</div>
		</div>
	</div>
</div>
