<div fxLayout="row">
	<div fxFlex="75" fxFlex.xs="100" fxLayout="row wrap" fxLayoutAlign="start start">
		<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
			<h1 fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
				{{details.title}}
			</h1>
			<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="details.links">
				<a mat-icon-button href="{{details.links.soundcloud}}" title="{{details.title}} @ soundcloud" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-soundcloud" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.rss}}" title="{{details.title}} rss" target=_blank>
					<mat-icon fontSet="fas" fontIcon="fa-rss" class="material-icons-fas"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.mixcloud}}" title="{{details.title}} @ mixcloud" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-mixcloud" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.twitter}}" title="{{details.title}} @ twitter" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-twitter" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.facebook}}" title="{{details.title}} @ facebook" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-facebook" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.youtube}}" title="{{details.title}} @ youtube" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-youtube" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.instagram}}" title="{{details.title}} @ instagram" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-instagram" class="material-icons-fab"></mat-icon>
				</a>
				<a mat-icon-button href="{{details.links.bandcamp}}" title="{{details.title}} @ bandcamp" target=_blank>
					<mat-icon fontSet="fab" fontIcon="fa-bandcamp" class="material-icons-fab"></mat-icon>
				</a>
			</div>
		</div>
		<div fxFlex="100" class="mat-body-1" [ngStyle]="{'padding': '5px'}">
			<span [innerHtml]="details.text"></span>
			<button mat-icon-button (click)="showContactDialog()" title="{{ 'contact.open' | translate }}">
				<mat-icon fontSet="fas" fontIcon="fa-envelope" class="material-icons-fas"></mat-icon>
			</button>
		</div>
	</div>

	<div fxFlex="25" fxHide.xs fxLayout="row wrap" fxLayoutAlign="start start">
		<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
			<mat-toolbar fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
				<a mat-button type="button" [attr.aria-label]="submit" color="accent" href="https://dnbhub.us3.list-manage.com/subscribe/post?u=3eeba7cfe8388b91c662bdf95&id=8cca3229c8" target=_blank>
					<mat-icon class="metarial-icons">email</mat-icon> {{ 'subscribe.title' | translate }}
				</a>
			</mat-toolbar>
		</div>
		<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
			<img [ngStyle]="{'max-width': '275px', 'width': '90%'}" src="./img/svg/DH_logo-no_bg_greyscale.svg">
			<img fxFlex *ngFor="let item of dnbhubDetails.poweredBy" title="{{item.name}}" ng-src="{{item.logo}}"/>
		</div>
	</div>
</div>
