<md-dialog aria-label="Auth Dialog" ng-controller="authDialogCtrl">
	<form ng-cloak accept-charset="UTF-8" name="authForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Auth Dialog</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog" class="fa fa-close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content" layout="column" layout-padding align-items="start stretch">
				<legend ng-if="instructions">{{instructions}}</legend>
				<md-input-container>
					<input type="email" name="email" ng-model="form.email" ng-pattern="patterns.email" placeholder="your_email@domain.tld" ng-disabled="signupMode" required>
					<md-icon class="fa fa-envelope"></md-icon>
					<div ng-messages="authForm.email.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be an email</div>
					</div>
				</md-input-container>
				<md-input-container>
					<input type="{{showPassword ? 'text' : 'password' }}" name="password" ng-model="form.password" ng-pattern="patterns.password" placeholder="your password" ng-disabled="signupMode" required>
					<md-icon class="visibility-toggler fa fa-eye" ng-if="!showPassword" ng-click="togglePasswordVisibility()"></md-icon>
					<md-icon class="visibility-toggler fa fa-eye-slash" ng-if="showPassword" ng-click="togglePasswordVisibility()"></md-icon>

					<div ng-messages="authForm.password.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, should be 8+ characters</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="hide()">cancel</md-button>
			<md-button type="submit" ng-if="!signupMode" ng-disabled="authForm.$invalid" ng-click="submit(authForm.$valid)">submit</md-button>

			<md-button ng-if="signupMode" ng-click="reset()">reset form to start over</md-button>
			<md-button type="submit" ng-if="signupMode" ng-disabled="authForm.$invalid" ng-click="submit(authForm.$valid, true)">create account</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
