<div id="blog" flex layout="row" layout-fill layout-align="start stretch">
	<md-sidenav md-component-id="left" class="md-sidenav-left" id="showcase" layout="column" layout-align="start stretch" md-is-locked-open="$mdMedia('md') || $mdMedia('gt-md') || $mdMedia('lg') || $mdMedia('gt-lg') || $mdMedia('xl')">
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<div flex="20" id="mc_embed_signup">
			<form action="//dnbhub.us3.list-manage.com/subscribe/post?u=3eeba7cfe8388b91c662bdf95&amp;id=8cca3229c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Join <span class="amber-text">Drum'n'Bass Hub</span> Mailing List</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_3eeba7cfe8388b91c662bdf95_8cca3229c8" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</div>
		<!--End mc_embed_signup-->
		<div flex id="sc-player" custom-soundcloud-player></div>
	</md-sidenav>

	<div flex class="post" layout="column" layout-align="start stretch">
		<div flex="15" flex-xs="30" class="heading" layout="row" layout-align="start center" layout-wrap>
			<h4 flex flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-align="center center">
				<a md-button flex="20" ng-disabled="disableBlogPostSelector('previous')" ng-click="previousBlogPost()" aria-label="previous blog post" title="previous blog post" class="md-accent">
					<i class="fa fa-chevron-left"></i>
				</a>
				<span flex="60" layout="row" layout-align="center center" layout-wrap>
					<img hide-xs flex="15" class="label-logo" ng-src="{{selectedBlogPost.logo}}"/>
					<span flex="85">{{selectedBlogPost.title}}</span>
				</span>
				<a md-button flex="20" ng-disabled="disableBlogPostSelector('next')" ng-click="nextBlogPost()" aria-label="next blog post" title="next blog post" class="md-accent">
					<i class="fa fa-chevron-right"></i>
				</a>
			</h4>
			<div flex flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-align="space-between center" class="links" layout-wrap>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.website}}" ng-hide="selectedBlogPost.links.website == ''" target=_blank aria-label="website link" title="website link">
					<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.soundcloud}}" ng-hide="selectedBlogPost.links.soundcloud == ''" target=_blank aria-label="soundcloud link" title="soundcloud link">
					<i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.twitter}}" ng-hide="selectedBlogPost.links.twitter == ''" target=_blank aria-label="twitter link" title="twitter link">
					<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.facebook}}" ng-hide="selectedBlogPost.links.facebook == ''" target=_blank aria-label="facebook link" title="facebook link">
					<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.youtube}}" ng-hide="selectedBlogPost.links.youtube == ''" target=_blank aria-label="youtube link" title="youtube link">
					<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.instagram}}" ng-hide="selectedBlogPost.links.instagram == ''" target=_blank aria-label="instagram link" title="instagram link">
					<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
				<a md-button class="md-icon-button" ng-href="{{selectedBlogPost.links.bandcamp}}" ng-hide="selectedBlogPost.links.bandcamp == ''" target=_blank aria-label="bandcamp link" title="bandcamp link">
					<i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div flex layout="row" layout-wrap class="post-container">
			<div flex="50" flex-xs="100" flex-sm="100">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{returnWidgetLink()}}"></iframe>
			</div>
			<div flex="50" flex-xs="100" flex-sm="100" id="text" ng-bind-html="selectedBlogPost.text"></div>
		</div>
	</div>
</div>

<md-fab-toolbar id="actions" md-open="actions.open" md-direction="left">
	<md-fab-trigger class="align-with-text">
		<md-button class="md-fab md-raised md-primary" aria-label="Actions menu" title="Actions menu">
			<md-icon md-font-icon="fa fa-ellipsis-h"></md-icon>
		</md-button>
	</md-fab-trigger>

	<md-toolbar>
		<md-fab-actions class="md-toolbar-tools">
			<md-button aria-label="Add blog post" title="Add blog post" ng-click="showAddBlogPostDialog($event)">
				<md-icon md-font-icon="fa fa-plus"></md-icon>
			</md-button>
		</md-fab-actions>
	</md-toolbar>
</md-fab-toolbar>
