<md-dialog aria-label="Contact dialog">
	<md-dialog-content>
		<div id="contact" class="md-dialog-content" layout="column" align-item="start stretch">
			<div class="contact-instructions" ng-hide="hideInstructions" layout-padding layout="column" layout-align="start stretch">
				<span layout="row">
					<h5 class="md-subhead" flex="100">{{instructions.intro}}</h5>
					<a md-icon-button class="md-accent" ng-click="switchInstructionsVisibility()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</a>
				</span>
				<span layout="column">
					<span flex ng-repeat="item in instructions.list">
						&bull; {{item}}
					</span>
				</span>
			</div>
			<form flex accept-charset="UTF-8" name="contactForm" layout="column" layout-padding align-items="start stretch">
				<md-input-container>
					<input type="text" name="email" ng-model="email" ng-pattern="patterns.email" placeholder="your_e-mail@domain.com" required>
					<div ng-messages="contactForm.email.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be an email</div>
					</div>
				</md-input-container>
				<md-input-container>
					<input type="text" name="name" ng-model="name" ng-pattern="patterns.name" placeholder="Your name" required>
					<div ng-messages="contactForm.name.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be at least 2 characters long</div>
					</div>
				</md-input-container>
				<md-input-container>
					<input type="text" name="header" ng-model="header" ng-pattern="patterns.header" placeholder="Message header" required>
					<div ng-messages="contactForm.header.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be at least 5 characters long</div>
					</div>
				</md-input-container>
				<md-input-container>
					<textarea type="text" name="message" ng-model="message" ng-pattern="patterns.message" placeholder="Message text" required>
					</textarea>
					<div ng-messages="contactForm.message.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be at least 75 characters long</div>
					</div>
				</md-input-container>
				<div id="submission-result" class="contact-instructions" ng-hide="sendMailResponse.success == '' && sendMailResponse.error == ''" layout-padding layout="column" layout-align="start stretch">
					<span layout="column">
						<p ng-hide="sendMailResponse.success == ''" class="green-text">{{sendMailResponse.success}}</p>
						<p ng-hide="sendMailResponse.error == ''" class="amber-text">{{sendMailResponse.error}}</p>
					</span>
				</div>
				<md-button type="submit" aria-label="submit" aria-hidden="true" ng-hide="true" ng-disabled="contactForm.$invalid || loading" ng-click="submitForm()"></md-button>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="center stretch">
		<a md-button class="md-warn" ng-disabled="contactForm.$pristine || loading" ng-click="resetForm()">{{buttonText.reset}}</a>
		<a md-button class="md-accent" ng-disabled="contactForm.$invalid || loading" ng-click="submitForm()" ng-class="{disabled: contactForm.$invalid}">{{buttonText.submit}}</a>
		<a md-button ng-click="cancel()" ng-disabled="loading">
			<md-icon md-font-icon="fa fa-close"></md-icon>
			<span>{{buttonText.cancel}}</span>
		</a>
	</md-dialog-actions>
</md-dialog>
