<div id="contact" layout="column" align-item="start stretch" class="md-body-1">
	<div class="contact-instructions" ng-hide="hideInstructions" layout-padding layout="column" layout-align="start stretch">
		<span layout="row">
			<h5 class="md-subhead" flex="100">{{instructions.intro}}</h5>
			<a md-icon-button class="md-accent" ng-click="switchInstructionsVisibility()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
		</span>
		<span layout="column">
			<span flex ng-repeat="item in instructions.list">
				&bull; {{item}}
			</span>
		</span>
	</div>
	<div class="contact-instructions" ng-hide="sendMailResponse.success == '' && sendMailResponse.error == ''" layout-padding layout="column" layout-align="start stretch">
		<span layout="row">
			<h5 class="md-subhead" flex="100">{{instructions.intro}}</h5>
			<a md-icon-button class="md-accent" ng-click="switchInstructionsVisibility()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
		</span>
		<span layout="column">
			<p ng-hide="sendMailResponse.success == ''">{{sendMailResponse.success}}</p>
			<p ng-hide="sendMailResponse.error == ''">{{sendMailResponse.error}}</p>
		</span>
	</div>
	<form flex accept-charset="UTF-8" name="contactForm" layout="column" layout-padding align-items="start stretch">
		<md-input-container>
			<input type="text" name="email" ng-model="email" placeholder="your_e-mail@domain.com" required>
			<div ng-messages="contactForm.email.$error">
				<div ng-message="required">This field is required</div>
			</div>
		</md-input-container>
		<md-input-container>
			<input type="text" name="name" ng-model="name" placeholder="Your name" required>
			<div ng-messages="contactForm.name.$error">
				<div ng-message="required">This field is required</div>
			</div>
		</md-input-container>
		<md-input-container>
			<input type="text" name="header" ng-model="header" placeholder="Message header" required>
			<div ng-messages="contactForm.header.$error">
				<div ng-message="required">This field is required</div>
			</div>
		</md-input-container>
		<md-input-container>
			<textarea type="text" name="message" ng-model="message" placeholder="Message text" required>
			</textarea>
			<div ng-messages="contactForm.message.$error">
				<div ng-message="required">This field is required</div>
			</div>
		</md-input-container>
		<br/>
		<div>
			<a md-button class="md-warn" ng-click="resetForm()">{{buttonText.reset}}</a>
			<a md-button class="md-accent" ng-disabled="contactForm.$invalid" ng-click="submitForm()" ng-class="{disabled: email == '' || name == '' || header == '' || message == ''}">{{buttonText.submit}}</a>
		</div>
	</form>
</div>
