<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="zero-padding">
	<div id="data-container" class="freedownloads">
		<div id="freedownloads-list" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<a class="freedownloads-item" id="{{$index}}" ng-click="loadIframeUrl($event)" ng-class="{selected: freedownload.iframeLink == selectedIframeLink}" ng-repeat="freedownload in freedownloadsData">
				<span class="glyphicon glyphicon-save"></span> {{freedownload.title}}
			</a>
		</div>
		<iframe id="freedownloads-details" class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-src="{{returnSelectedIframeLink()}}" frameborder="0"></iframe>
	</div>
</div>
