<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="zero-padding">
	<div id="data-container" class="freedownloads">
		<div id="freedownloads-list" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<a ng-click="scrollToTrack($index + 1)" ng-class="{selected: $index + 1 == selectedWidget}" ng-repeat="freedownload in freedownloadsData" title="Scroll to track">
				<span class="glyphicon glyphicon-search"></span> {{freedownload.title}}
			</a>
		</div>

		<div id="freedownloads-details" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<iframe ng-repeat="freedownload in freedownloadsData" id="{{$index + 1}}" ng-src="{{widgetLink(freedownload.soundcloudTrackID)}}" width="100%" height="166" scrolling="no" frameborder="no" ng-class="{selected: $index + 1 == selectedWidget}"></iframe>
		</div>
	</div>
</div>
