<div flex="1 1 auto" layout="row" layout-fill class="freedownloads" layout-align="start stretch">
	<md-sidenav md-component-id="left" class="md-sidenav-left" id="freedownloads-list" flex layout="column" layout-align="start stretch" md-is-locked-open="$mdMedia('md') || $mdMedia('gt-md') || $mdMedia('lg') || $mdMedia('gt-lg') || $mdMedia('xl')">
		<a ng-click="scrollToTrack($index + 1)" flex="0 0 auto" ng-class="{selected: $index + 1 == selectedWidget}" ng-repeat="freedownload in freedownloadsData" title="Scroll to track" layout="row" layout-align="start center" layout-padding>
			<span class="fa fa-music"></span><span>{{freedownload.title}}</span>
		</a>
	</md-sidenav>

	<md-content id="freedownloads-details" flex>
		<iframe ng-repeat="freedownload in freedownloadsData" id="{{$index + 1}}" ng-src="{{widgetLink(freedownload.soundcloudTrackID)}}" width="100%" height="166" scrolling="no" frameborder="no" ng-class="{selected: $index + 1 == selectedWidget}"></iframe>
	</md-content>
</div>
