<div id="user" flex layout="column" layout-fill layout-align="start stretch" ng-show="!blogPostPreview">
	<span ng-if="!firebase.isSignedIn" class="instructions md-body-2">You must me authenticated to access user controls</span>
	<span ng-if="instructions" class="instructions md-body-2">{{ instructions }}</span>
	<span ng-if="firebase.isSignedIn" layout="column" layout-align="start stretch">
		<form ng-cloak accept-charset="UTF-8" name="profileForm" layout="column" layout-align="start stretch">
			<span layout="row" layout-wrap layout-align="center center">
				<md-input-container>
					<md-icon class="fa fa-paper-plane amber-text hover-pointer" ng-if="!currentUser.emailVerified" title="your email is not verified, click here to request a verification link" ng-click="resendVerificationEmail()"></md-icon>
					<md-icon class="fa fa-check green-text" ng-if="currentUser.emailVerified" title="your email is verified"></md-icon>
					<input type="email" name="email" ng-model="profile.email" ng-pattern="patterns.email" placeholder="your_email@domain.tld" ng-disabled="!mode.edit || !mode.updateEmail" required>
					<md-icon class="fa fa-envelope"></md-icon>
					<div ng-messages="profileForm.email.$error">
						<div ng-message="required">This field is required</div>
						<div ng-message="pattern">Invalid value, it should be an email</div>
					</div>
				</md-input-container>
				<md-input-container>
					<input type="text" name="name" ng-model="profile.name" placeholder="your display name" ng-disabled="!mode.edit">
					<md-icon class="fa fa-user-circle-o"></md-icon>
				</md-input-container>
			</span>
			<span layout="row" layout-wrap layout-align="center center">
				<md-button ng-if="!mode.edit" ng-click="resetPassword()" ng-disabled="loading" aria-label="reset password">reset password</md-button>
				<md-button ng-click="toggleEditMode()" ng-disabled="loading" aria-label="toggle edit mode">
					<span ng-if="!mode.edit">edit profile</span>
					<span ng-if="mode.edit">cancel</span>
				</md-button>
				<md-button type="submit" ng-if="mode.edit" ng-disabled="profileForm.$invalid || loading" ng-click="updateProfile(profileForm.$valid)" aria-label="update profile">update</md-button>
				<md-button type="submit" ng-if="mode.edit" ng-disabled="!profile.password.trim() || loading" ng-disabled="profileForm.$invalid" ng-click="deleteProfile($event)" aria-label="delete profile" class="md-warn">delete</md-button>
				<md-input-container flex="40" ng-if="mode.edit">
					<input type="{{showPassword ? 'text' : 'password' }}" name="password" ng-model="profile.password" placeholder="provide a password to DELETE your account">
					<md-icon class="visibility-toggler fa fa-eye" ng-if="!showPassword" ng-click="togglePasswordVisibility()"></md-icon>
					<md-icon class="visibility-toggler fa fa-eye-slash" ng-if="showPassword" ng-click="togglePasswordVisibility()"></md-icon>
				</md-input-container>
				<md-button ng-disabled="loading" ng-if="!mode.edit && !SCdata.me" class="amber-text" ng-click="scConnect()" aria-label="connect with Soundcloud" title="Connect with Soundcloud">connect with soundcloud</md-button>
				<md-button ng-disabled="loading" ng-if="!mode.edit && SCdata.me" class="green-text" ng-click="scConnect()" aria-label="reconnect with Soundcloud or connect another account" title="Reconnect with Soundcloud or connect another account">reconnect with soundcloud</md-button>
			</span>
		</form>
	</span>
	<span flex layout="row" layout-wrap layout-align="start stretch" ng-if="firebase.isSignedIn && SCdata.me">
		<span id="soundcloud-user" flex="20" flex-xs="100" flex-sm="100" layout-xs="row" layout-sm="row" layout="column" layout-align="start stretch" layout-align-xs="center start" layout-align-sm="center start" ng-if="SCdata.me">
			<span class="md-body-2">{{ SCdata.me.username }}</span>
			<span class="md-body-2">{{ SCdata.me.full_name }}</span>
			<span class="md-body-2">Playlists: {{ SCdata.me.playlist_count }}</span>
			<span show-gt-sm hide-xs="true" hide-sm="true" flex="grow" class="md-body-1" ng-bind-html="SCdata.me.description"></span>
		</span>
		<span id="soundcloud-playlists" flex="80" flex-xs="100" flex-sm="100" layout="row" layout-align="start stretch" layout-wrap ng-if="SCdata.playlists">
			<div class="playlist" ng-repeat="playlist in SCdata.playlists" flex-xs="100" flex-sm="50" flex="33" layout="column" layout-align="start stretch">
				<span flex class="md-body-2" layout="row" layout-align="center center">
					{{ playlist.title }}
				</span>
				<iframe ng-src="{{widgetLink(playlist.id)}}" width="100%" height="350px" scrolling="no" frameborder="no"></iframe>
				<span flex layout-align="start center" layout-wrap>
					<md-button class="md-icon-button green-text" ng-disabled="alreadyAdded($index) || loading" ng-click="submitBlogPost($index)" aria-label="Submit to blog">
						<i ng-if="!alreadyAdded($index)" class="fa fa-2x fa-plus" title="Submit to blog"></i>
						<i ng-if="alreadyAdded($index) && unsubmittable($index)" class="fa fa-2x fa-clock-o" title="Submission is in procession"></i>
						<i ng-if="alreadyAdded($index) && !unsubmittable($index)" class="fa fa-2x fa-check" title="Submitted to blog"></i>
					</md-button>
					<md-button class="md-icon-button amber-text" ng-disabled="loading" ng-if="alreadySubmitted($index) && unsubmittable($index)" ng-click="unsubmitBlogPost($index)" aria-label="Unsubmit playlist: available only before moderation happens" title="Unsubmit playlist: available only before moderation happens">
						<i class="fa fa-2x fa-remove"></i>
					</md-button>
					<md-button class="md-icon-button" ng-disabled="alreadyAdded($index) || loading" ng-if="unsubmittable($index)" ng-click="toggleBlogPostPreview($index)" aria-label="Preview blog post" title="Preview blog post">
						<i class="fa fa-2x fa fa-th-large"></i>
					</md-button>
					<md-button class="md-icon-button green-text" ng-disabled="loading" ng-if="alreadyAdded($index) && !unsubmittable($index)" ng-click="goToBlogEntry($index)" aria-label="Go to blog entry" title="Go to blog entry">
						<i class="fa fa-2x fa-link"></i>
					</md-button>
				</span>
			</div>
		</span>
	</span>
</div>

<div id="blog-post-preview" flex layout="row" layout-fill layout-align="start stretch" ng-if="blogPostPreview">
	<div flex class="post" layout="column" layout-align="start stretch">
		<md-button ng-click="toggleBlogPostPreview()">close preview</md-button>
		<div flex="15" flex-xs="30" class="heading" layout="row" layout-align="start center" layout-wrap>
			<h4 flex flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-align="center center">
				<a md-button flex="20" ng-disabled="true" aria-label="previous blog post" title="previous blog post" class="md-accent">
					<i class="fa fa-chevron-left"></i>
				</a>
				<span flex="60" layout="row" layout-align="center center" layout-wrap>
					<span flex="100">{{blogPostPreview.title}}</span>
				</span>
				<a md-button flex="20" ng-disabled="true" aria-label="next blog post" title="next blog post" class="md-accent">
					<i class="fa fa-chevron-right"></i>
				</a>
			</h4>
		</div>
		<div flex layout="row" layout-wrap class="post-container">
			<div flex flex-xs="100" flex-sm="100" ng-if="blogPostPreview">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{widgetLink(blogPostPreview.id)}}" ng-if="widgetLink(blogPostPreview.id) !== '#'"></iframe>
			</div>
			<div flex="50" flex-xs="100" flex-sm="100" id="text" ng-if="blogPostPreview.description">
				<div ng-bind-html="blogPostPreview.description"></div>
				<p ng-if="blogPostPreview.release_year && blogPostPreview.release_month && blogPostPreview.release_day">Release date: {{blogPostPreview.release_year}}.{{blogPostPreview.release_month}}.{{blogPostPreview.release_day}}</p>
			</div>
		</div>
	</div>
</div>
