<h1 mat-dialog-title>Create/Edit brand</h1>

<mat-dialog-content>
  <form fxFlex="100" fxLayout="row wrap" *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="bandcamp"
        formControlName="bandcamp"
        placeholder="Bandcamp profile link, e.g.: https://some-name.bandcamp.com"
      />
      <mat-error *ngIf="form.controls.bandcamp.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="facebook"
        formControlName="facebook"
        placeholder="Facebook page link, e.g.: https://www.facebook.com/some-name"
      />
      <mat-error *ngIf="form.controls.facebook.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="instagram"
        formControlName="instagram"
        placeholder="Instagram page link, e.g.: https://www.facebook.com/some-name"
      />
      <mat-error *ngIf="form.controls.instagram.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="soundcloud"
        formControlName="soundcloud"
        placeholder="Soundcloud page link, e.g.: https://www.soundcloud.com/some-name"
      />
      <mat-error *ngIf="form.controls.soundcloud.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="twitter"
        formControlName="twitter"
        placeholder="Twitter page link, e.g.: https://twitter.com/some-name"
      />
      <mat-error *ngIf="form.controls.twitter.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="website"
        formControlName="website"
        placeholder="Website link, e.g.: https://website.tld"
      />
      <mat-error *ngIf="form.controls.website.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="youtube"
        formControlName="youtube"
        placeholder="Youtube link, e.g.: https://www.youtube.com/c_or_users/channelName"
      />
      <mat-error *ngIf="form.controls.youtube.invalid" class="mat-body-1">
        {{ 'form.invalid.link' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-icon-button
    type="button"
    (click)="closeDialog()"
    aria-label="cancel editing"
    title="cancel editing"
  >
    <mat-icon>cancel</mat-icon>
  </button>
  <button
    mat-icon-button
    type="submit"
    *ngIf="submitForm()"
    aria-label="update brand"
    title="update brand"
    [disabled]="form.pristine"
  >
    <mat-icon>check</mat-icon>
  </button>
  <button
    mat-icon-button
    type="button"
    (click)="deleteBrand()"
    aria-label="delete brand"
    title="delete brand"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</mat-dialog-actions>
