<ng-template #authRequiredTpl>
  <div class="mat-body-2" fxFlex="100" fxLayoutFill fxLayout="row" fxLayoutAlign="center center">
    You must be authenticated have privileged access rights to access admin controls
  </div>
</ng-template>

<div
  *ngIf="privilegedAccess$ | async; else authRequiredTpl"
  fxFlex="100"
  fxLayoutFill
  fxLayout="row"
  [ngStyle]="{ padding: '0 10px 0 10px' }"
>
  <div fxLayout="row wrap" fxFlex="100" fxLayoutFill fxLayoutAlign="start start">
    <mat-tab-group fxFlex="100">
      <mat-tab #emailsTab label="email messages">
        <mat-tab-body *ngIf="emailsTab.isActive">
          <dnbhub-admin-emails
            [emails]="emails$ | async"
            (messageDeleted)="deleteMessage($event)"
            (showContent)="showMessageContent($event)"
          ></dnbhub-admin-emails>
        </mat-tab-body>
      </mat-tab>

      <mat-tab #brandsTab label="brands">
        <mat-tab-body *ngIf="brandsTab.isActive">
          <dnbhub-admin-brands
            [brands]="brands$ | async"
            (showCreateBrand)="createBrand()"
            (showEditBrand)="editBrand($event)"
          ></dnbhub-admin-brands>
        </mat-tab-body>
      </mat-tab>

      <mat-tab #usersTab label="users">
        <mat-tab-body *ngIf="usersTab.isActive">
          <dnbhub-admin-users
            [users]="users$ | async"
            [brands]="brands$ | async"
            [selectedBrand]="selectedBrand$ | async"
            (submissionRejected)="rejectUserSubmission($event)"
            (submissionApproved)="approveUserSubmission($event)"
            (brandSelected)="selectBrand()"
            (brandSelectedFromList)="selectBrandFromList($event)"
          ></dnbhub-admin-users>
        </mat-tab-body>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
