<div
  *ngIf="anonUser$ | async"
  class="mat-body-2"
  fxFlex="100"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  You must me authenticated to access admin controls
</div>

<div
  fxFlex="100"
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  [ngStyle]="{ padding: '0 10px 0 10px' }"
  *ngIf="!(anonUser$ | async)"
>
  <mat-grid-list [ngStyle]="{ width: '100%', 'font-weight': 'bold' }" cols="1" rowHeight="5:1">
    <mat-grid-tile [ngStyle]="{ color: '#ff8a80' }">
      Warning! Database operations may work unstably currently.
    </mat-grid-tile>
  </mat-grid-list>

  <dnbhub-user-me fxFlex="100" [me]="me$ | async" [firebaseUser]="firebaseUser"></dnbhub-user-me>

  <mat-divider vertical="false" fxFlex="100"></mat-divider>

  <dnbhub-user-playlists
    fxFlex="100"
    [playlists]="myPlaylists$ | async"
    [firebaseUser]="firebaseUser"
    [dnbhubUser]="dnbhubUser$ | async"
  ></dnbhub-user-playlists>
</div>
