:host {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow: hidden;
}

.description {
  padding: 0 10px 0 10px;
  overflow-y: auto;
}

.scroll-viewport {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 100%;
  height: 83vh;
}

.track-image {
  width: 100px;
  height: 100px;

  &:hover {
    cursor: pointer;
  }
}
