<div
  fxShow
  fxHide.lt-md
  fxFlex.lt-md="100"
  fxFlex.gt-sm="50"
  class="description"
  *ngIf="mode === 'playlist' && displayDescription && $any(playlist$ | async)"
  [ngStyle]="virtualScrollHeight ? { height: virtualScrollHeight ?? '83vh' } : {}"
>
  <div [innerHTML]="(playlist$ | async)?.description"></div>
</div>

<div
  fxFlex.lt-md="100"
  fxFlex.gt-sm="{{ displayDescription ? 50 : 100 }}"
  *ngIf="selectedTrack$ | async as currentTrack"
>
  <cdk-virtual-scroll-viewport
    #scrollViewport
    itemSize="223.5"
    class="scroll-viewport"
    [ngStyle]="virtualScrollHeight ? { height: virtualScrollHeight ?? '83vh' } : {}"
  >
    <div
      *ngFor="let track of renderTracks$ | async"
      fxLayout="row wrap"
      fxLayoutAlign="start stretch"
      [ngStyle]="{ 'border-bottom': '1px solid grey', padding: '5px' }"
    >
      <div fxFlex="100" fxLayout="row">
        <div fxFlex="5px"></div>
        <div fxFlex="1 1 auto" class="clamp-flex">{{ track.title }}</div>
        <div fxFlex="5px"></div>
      </div>
      <div fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="start center">
        <img
          appImageLoaded
          class="track-image"
          [src]="track.artwork_url"
          (click)="playTrack(track)"
          dnbhubTooltip="Play / Pause"
        />
        <div fxFlex="1 1 auto">{{ track.license }}</div>
        <div fxFlex="1 1 auto" class="clamp-flex">{{ track.genre }}</div>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="center stretch">
        <div fxFlex="10px"></div>
        <div fxFlex="1 1 auto">
          <img
            appImageLoaded
            [ngStyle]="{ 'max-width': '100%', 'min-width': '150px', 'min-height': '150px' }"
            src="{{ track.waveform_url }}"
            [class]="'waveform-' + track.id?.toString()"
            (click)="waveformClick($event, track.id)"
          />
        </div>
        <div fxFlex="10px"></div>
      </div>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <span fxFlex="130px">
          <button mat-button disabled="true">
            <mat-icon>favorite</mat-icon>
            <span *ngIf="track.favoritings_count">{{ track.favoritings_count }}</span>
          </button>
        </span>

        <button
          mat-button
          (click)="playTrack(track)"
          dnbhubTooltip="{{ 'action.play' | translate }} ({{ track.playback_count }})"
        >
          <mat-icon>play_arrow</mat-icon> / <mat-icon>pause</mat-icon>
        </button>

        <a
          mat-button
          *ngIf="track.downloadable"
          href="{{ getLinkWithId(track.download_url) }}"
          dnbhubTooltip="{{ 'action.download' | translate }} ({{ track.download_count }})"
          target="_blank"
        >
          <mat-icon>save</mat-icon>
        </a>

        <a
          mat-button
          *ngIf="track.purchase_url"
          href="{{ track.purchase_url }}"
          dnbhubTooltip="{{ track.purchase_title }}"
          target="_blank"
        >
          <mat-icon>save</mat-icon>
        </a>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
