<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <dnbhub-nav fxFlex="0 1 auto"></dnbhub-nav>

  <mat-sidenav-container fxFlex="1 1 auto">
    <mat-sidenav
      #appSidenav
      mode="over"
      [opened]="sidenavOpened$ | async"
      (closedStart)="sidebarCloseHandler()"
    >
      <mat-grid-list [cols]="gridConfig.cols" [rowHeight]="gridConfig.rowHeight">
        <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
          <a
            fxFlex
            [ngStyle]="{ height: '100%' }"
            href="https://twitter.com/intent/tweet?screen_name=dnbhub_com&text=Check%20out%20DNBHUB%20webapp%20https://dnbhub-a5d9c.firebaseapp.com/"
            data-show-count="false"
            target="_blank"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <span fxFlex="100" [ngStyle]="{ 'text-align': 'center' }">Tweet @dnbhub_com</span>
          </a>
        </mat-grid-tile>
        <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
          <a
            fxFlex
            [ngStyle]="{ height: '100%' }"
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdnbhub-a5d9c.firebaseapp.com&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <span fxFlex="100" [ngStyle]="{ 'text-align': 'center' }">Fb Share</span>
          </a>
        </mat-grid-tile>
        <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
          <a
            fxFlex
            [ngStyle]="{ height: '100%' }"
            href="http://vk.com/share.php?url=https://dnbhub-a5d9c.firebaseapp.com"
            target="_blank"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <span fxFlex="100" [ngStyle]="{ 'text-align': 'center' }">Vk Share</span>
          </a>
        </mat-grid-tile>
        <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
          <a
            fxFlex
            [ngStyle]="{ height: '100%' }"
            class="tumblr-share-button"
            href="https://www.tumblr.com/share?url=https://dnbhub-a5d9c.firebaseapp.com"
            target="_blank"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <span fxFlex="100" [ngStyle]="{ 'text-align': 'center' }">Tumblr Share</span>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{ overflow: 'hidden' }">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <dnbhub-toolbar fxFlex="0 1 auto"></dnbhub-toolbar>
</div>

<ng-container *ngIf="sidenavOpened$ | async"></ng-container>
