<app-nav fxFlex="0 1 auto"></app-nav>

<mat-sidenav-container fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start stretch">
  <mat-sidenav #appSidenav mode="over" [(opened)]="sidenavOpened">
    <mat-grid-list [cols]="gridConfig.cols" [rowHeight]="gridConfig.rowHeight">
      <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
        <a fxFlex [ngStyle]="{height: '100%'}" href="https://twitter.com/intent/tweet?screen_name=dnbhub_com&text=Check%20out%20DNBHUB%20webapp%20https://dnbhub-a5d9c.firebaseapp.com/" data-show-count="false" target="_blank" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon fxFlex="0 1 auto" fontSet="fab" fontIcon="fa-twitter" class="material-icons-fab"></mat-icon>
          <span fxFlex="100" [ngStyle]="{'text-align': 'center'}">@dnbhub_com</span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
        <a fxFlex [ngStyle]="{height: '100%'}" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdnbhub-a5d9c.firebaseapp.com&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon fxFlex="0 1 auto" fontSet="fab" fontIcon="fa-facebook-f" class="material-icons-fab"></mat-icon>
          <span fxFlex="100" [ngStyle]="{'text-align': 'center'}">Share</span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
        <a fxFlex [ngStyle]="{height: '100%'}" href="http://vk.com/share.php?url=https://dnbhub-a5d9c.firebaseapp.com" target="_blank" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon fxFlex="0 1 auto" fontSet="fab" fontIcon="fa-vk" class="material-icons-fab"></mat-icon>
          <span fxFlex="100" [ngStyle]="{'text-align': 'center'}">Share</span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile fxLayout="row" fxLayoutAlign="start stretch">
        <a fxFlex [ngStyle]="{height: '100%'}" class="tumblr-share-button" href="https://www.tumblr.com/share?url=https://dnbhub-a5d9c.firebaseapp.com" target="_blank" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon fxFlex="0 1 auto" fontSet="fab" fontIcon="fa-tumblr" class="material-icons-fab"></mat-icon>
          <span fxFlex="100" [ngStyle]="{'text-align': 'center'}">Share</span>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch">

    <span id="spinner" *ngIf="showSpinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </span>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<span fxFlex="0 1 auto">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="appSidenav.toggle()">
      <mat-icon class="material-icons" title="open sidenav" *ngIf="!sidenavOpened">flip_to_front</mat-icon>
      <mat-icon class="material-icons" title="open sidenav" *ngIf="sidenavOpened">flip_to_back</mat-icon>
    </button>
    <span fxFlex="1 1 auto"></span>
    <button mat-button (click)="showContactDialog()" [fxHide.xs]="true" [fxHide.sm]="true">
      <mat-icon class="material-icons">email</mat-icon> {{ 'contact.open' | translate }}
    </button>

    <button mat-icon-button [matMenuTriggerFor]="mobileMenuBottom" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
      <mat-icon class="material-icons">reorder</mat-icon>
    </button>
    <mat-menu #mobileMenuBottom="matMenu" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
      <a mat-menu-item (click)="showContactDialog()">
        <mat-icon class="material-icons">email</mat-icon> {{ 'contact.open' | translate }}
      </a>
    </mat-menu>
  </mat-toolbar>
</span>
