<h2 mat-dialog-title>{{ 'contact.title' | translate }}</h2>

<mat-dialog-content>
  <div *ngIf="feedback" fxLayout="row" fxLayoutAlign="center center">
    <span fxFlex="0 1 auto">{{ feedback }}</span>
  </div>

  <form
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    fxLayoutGap="10px"
    [formGroup]="emailForm"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="email"
        formControlName="email"
        placeholder="{{ 'form.email' | translate }}"
      />
      <mat-error *ngIf="emailForm.controls.email.invalid">
        {{ 'form.invalid.email' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="name"
        formControlName="name"
        placeholder="{{ 'form.name' | translate }}"
      />
      <mat-error *ngIf="emailForm.controls.name.invalid">
        {{ 'form.invalid.name' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <input
        matInput
        type="text"
        name="header"
        formControlName="header"
        placeholder="{{ 'form.header' | translate }}"
      />
      <mat-error *ngIf="emailForm.controls.header.invalid">
        {{ 'form.invalid.header' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <textarea
        matInput
        cdkTextareaAutosize
        type="text"
        name="message"
        formControlName="message"
        placeholder="{{ 'form.message' | translate }}"
      ></textarea>
      <mat-error *ngIf="emailForm.controls.message.invalid">
        {{ 'form.invalid.message' | translate }}
      </mat-error>
    </mat-form-field>

    <div>
      <span fxFlex fxHide="true">
        <mat-toolbar class="controls" fxLayout.xs="row wrap" fxLayoutAlign="center center">
          <button
            mat-button
            tabindex="-1"
            type="submit"
            [disabled]="emailForm.invalid || emailForm.pristine"
            [attr.aria-label]="'form.submit' | translate"
            color="accent"
          >
            <mat-icon>done</mat-icon> {{ 'form.submit' | translate }}
          </button>
        </mat-toolbar>
      </span>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center center">
  <button
    mat-button
    tabindex="-1"
    (click)="submitForm()"
    [disabled]="emailForm.invalid || emailForm.pristine"
    matTooltip="{{ 'action.confirm' | translate }}"
    color="accent"
  >
    <mat-icon>done</mat-icon><span [fxHide.xs]="true"> {{ 'action.confirm' | translate }}</span>
  </button>

  <button
    mat-button
    tabindex="-1"
    (click)="closeDialog()"
    matTooltip="{{ 'action.close' | translate }}"
  >
    <mat-icon>close</mat-icon><span [fxHide.xs]="true"> {{ 'action.close' | translate }}</span>
  </button>
</mat-dialog-actions>
