<ng-container *ngIf="(posts$ | async) && selectedBlogPost$ | async as selectedBlogPost">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-button
      [disabled]="listStartReached$ | async"
      (click)="previousBlogPost()"
      aria-label="previous blog post"
      title="previous blog post"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center">
      {{ selectedBlogPost.code }}
    </span>

    <button
      mat-button
      [disabled]="listEndReached$ | async"
      (click)="nextBlogPost()"
      aria-label="next blog post"
      title="next blog post"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-toolbar>

  <div
    [ngStyle]="{ padding: '10px 0' }"
    fxFlex="1 1 auto"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="26px"
  >
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.website }}"
      [fxHide]="!selectedBlogPost.links.website"
      target="_blank"
      aria-label="website link"
      title="website link"
    >
      Website
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.soundcloud }}"
      [fxHide]="!selectedBlogPost.links.soundcloud"
      target="_blank"
      aria-label="soundcloud link"
      title="soundcloud link"
    >
      Soundcloud
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.twitter }}"
      [fxHide]="!selectedBlogPost.links.twitter"
      target="_blank"
      aria-label="twitter link"
      title="twitter link"
    >
      RSS
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.facebook }}"
      [fxHide]="!selectedBlogPost.links.facebook"
      target="_blank"
      aria-label="facebook link"
      title="facebook link"
    >
      Facebook
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.youtube }}"
      [fxHide]="!selectedBlogPost.links.youtube"
      target="_blank"
      aria-label="youtube link"
      title="youtube link"
    >
      Youtube
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.instagram }}"
      [fxHide]="!selectedBlogPost.links.instagram"
      target="_blank"
      aria-label="instagram link"
      title="instagram link"
    >
      Instagram
    </a>
    <a
      mat-stroked-button
      href="{{ selectedBlogPost.links.bandcamp }}"
      [fxHide]="!selectedBlogPost.links.bandcamp"
      target="_blank"
      aria-label="bandcamp link"
      title="bandcamp link"
    >
      Bandcamp
    </a>
  </div>

  <div fxFlex="100" #virtualScrollContainer>
    <dnbhub-soundcloud-player
      [mode]="'playlist'"
      *ngIf="selectedBlogPost.playlistId"
      [playlistId]="selectedBlogPost.playlistId"
      [displayDescription]="true"
      [virtualScrollHeight]="playerHeight$ | async"
    ></dnbhub-soundcloud-player>
  </div>
</ng-container>
